@(loginForm:Form[views.forms.LoginForm])
@viewClass.main3("login")("index"){


 <div class="ui stackable grid" id="homepageImage" >
      <div class="ui container">
            <div class='ui circular labels' align="center">
      <div class='ui red label'>CSS</div>  
      <div class='ui blue label'>Typescript</div>  
      <div class='ui green label'>NPM</div>  
      <div class='ui purple label'>Semantic UI</div>  
    </div>
    </div>


      <div class="ten wide column">
        <img src="@routes.Assets.versioned("images/people.jpg")" class='ui avatar medium image'/>
         <div class="animated fade ui inverted blue large circular button">
            <div class="visible content">Register Your School Here</div>
            <div class="button hidden content" id="RegisterSchoolButton"><span class="text">Click Now</span></div>
        </div>
        
  <span class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nulla a sapien euismod mollis sed quis lacus. Aenean dolor augue, eleifend lacinia turpis eget, vulputate venenatis nisl. Vivamus sagittis neque ac fringilla consequat</span>
     </div>
     <div class="right floated four wide column">
    <div class="row">
        <h3 class"ui dividing header" align="center">School</h3>

        <div class="content">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nulla a sapien euismod mollis sed quis lacus. Aenean dolor augue, eleifend lacinia turpis eget, vulputate venenatis nisl. Vivamus sagittis neque ac fringilla consequat.</div>
    </div>
    <div class="ui hidden divider "></div>
    <form
                        class="ui form"
                        id="loginform"
                        action="@login_logout.routes.LoginController.postLogin()"
                        method="Post">
                        <h5 class="ui top attached centered green header">Log-In to Your Account</h5>
                        <div class="ui attached secondary blue segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <input type="text" name="userName" placeholder="Username">
                                <i class="teal user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <input type="password" name="password" placeholder="Password">
                                <i class="teal lock icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox">
                                <label>Remember Me</label>
                            </div>
                        </div>

                        <button class="ui inverted fluid green compact button" id="login-submit">Sign In
                        </button>
                        </div>
                    </form>

     </div>

  </div>


<div class="stripe">
<div class="ui page grid">
        <div class="ui column">
            
                   
                
            <div class="ui message">
                Here You can raise a request for registration.
                <a href="@institute.routes.NewInstituteRequestController.preAddNewInstituteRequest()" target="_blank">Click here</a>
                to know about us.
            </div>
            <div class="ui stackable two column grid">
               <div class="column">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nulla a sapien euismod mollis sed quis lacus. Aenean dolor augue, eleifend lacinia turpis eget, vulputate venenatis nisl. Vivamus sagittis neque ac fringilla consequat.
               </div>
                <div class="right floated six wide column">
                     <div class="ui dividing header">Please upload your File</div>
                     <form method="post" action="/institute/first_upload1" enctype="multipart/form-data">
                     <div class="ui icon big button" id="fileUpload">File Upload
                            <i class="cloud icon"></i>
        
                      </div>
                       <input type="file" id="new-file-upload" name="fileName" style="display: none">
                       <button class="ui green button" type="submit">Send</button>
                   </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Registration Request Modal -->

<div class="ui basic modal" id="RegisterSchoolModal">
    <i class="close icon"></i>
    <div class="header" align="center">
        School Registration
    </div>
    <div class="content">
        <div class="description">
            <h3>Have you Already registered Your School and received your OTP and Reference key</h3>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <a
                class="ui teal inverted button"
                href="@institute.routes.NewInstituteRequestController.preAddNewInstituteRequest()">
            <i class="plus icon"></i>FIRST TIME SCHOOL REGISTRATION</a>
            <div class="ui green inverted button" id="completeSchoolRegistration">
                <i class="checkmark icon"></i>ALREADY REGISTERED ? ENTER OTP
            </div>
        </div>
    </div>
</div>
<!-- MODAL FOR OTP-->
<div class="ui basic modal" id="OTP-modal">
    <i class="close icon"></i>
    <div class="header" align="center">
        Add Refrence Key and OTP sent on your Mobile
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header">Enter:</div>
            <form
            class="ui form segment"
            id="completeSchoolRegistrationOTPForm"
            method="POST"
            <!-- action="/submitopt"> -->
            action="@institute.routes.NewInstituteRequestController.preAddNewInstituteRequest()"
            <div class="field">
                <div class="ui label pointing below teal">*E-Mail</div>
                <input
                    name="emailId"
                    placeholder="Enter Mail id entered at time of Registration request"
                    type="text">
            </div>
            <div class="field">
                <div class="ui label pointing below orange">
                    *Reference Key
                </div>
                <input
                    name="referenceKey"
                    placeholder="Enter Reference Key Received on Mobile"
                    type="text">
            </div>
            <div class="field">
                <div class="ui label pointing below inverted red">*OTP(One Time Password)</div>
                <input name="otp" placeholder="Enter OTP" type="password">
            </div>
            <div class="actions">
                <div class="two fluid ui inverted buttons">
                    <div class="ui red inverted button" id="cancel-OTP-Send">
                        <i class="chevron left icon"></i>Back To Previous Page
                    </div>
                    <button
                        type="submit"
                        id="sendSchoolRegistrationOTPForm"
                        class="ui green inverted button">
                    <i class="checkmark icon"></i>SUBMIT</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!--  Starts from here Modal form-->
<!--  ends Here -->





@if(flash.containsKey("success")) {


<div id="successFlash" class="ui compact message" data-html="<div class='ui message'>SUCCESSFULLY</div>">
   
</div>



    <div class="ui green success message" id="success-message">

        <div class="ui popup" data-position="top right">
  <div class="header">SUCCESSFULLY</div>
  <ul class="list">
            <li>
                @flash.get("success")
            </li>
        </ul>
</div>
        
</div>

}
@if(flash.containsKey("error")) {

    <div class="ui red error message" id="error-message">
        <div class="header">
            ERROR
        </div>
        <ul class="list">
            <li>
                @flash.get("error")
            </li>
        </ul>
    </div>

}
}
