@(schoolRegister:Form[views.forms.institute.AddInstituteBranchForm], schoolCountry:
List[String], state: Map[String, String])
@viewClass.main3("Register")(""){
<style>
.ui.form input[type="text"],.ui.form input[type="email"]{
   border: 1px solid #055020;
   color: #1134F5 ;
   background: #fff;
}
.ui.selection.dropdown{
   border: 1px solid rgba(1, 8, 15, 0.7);
   color: rgba(248, 119, 59, 0.9);
}
</style>
<div class="stripe">
<div class="main container">
   <div class="ui page grid">
      <div class="column">
         <h2 class="ui center aligned icon header">
            <i class="circular emphasized users icon"></i>
            <div class="content">
               Request for Your School Registration
               <div class="sub header"></div>
            </div>
         </h2>
         <div class="ui horizontal divider">
            <i class="circular heart icon"></i>
         </div>
         <div class="item">
            <div class="image">
               <!--  New School request  -->
               <label>field marked with * are mandatory</label>
               <div class="ui hidden divider"></div>
               <form
                  id="newSchoolRegistrationForm"
                  class="ui form "
                  method="Post"
                  action="/institute/add/branch" >

                  <h4 class="ui dividing header">Institute Info</h4>
                  <div class="ui segment">
                  <div class="field">
                     <div class="label"><span>*Institute Name</span></div>
                     <div class="ui left icon input">
                        <input
                           type="text"
                           name="instituteName"
                           placeholder="name"
                           >
                        <i class="user icon"></i>
                     </div>
                  </div>
                  <div class="field">
                     <!--<div class="ui basic blue label">SCHOOL REGISTRATION ID</div> -->
                     <div class="label"><span>Institute Registration Id (Optional)</span></div>
                    <div class="ui left icon input">
                        <input type="text" name="instituteRegistrationId" placeholder="Registration Id">
                        <i class="user icon"></i>
                     </div>
                  </div>
               </div>

                  <h4 class="ui dividing header">Location Info</h4>
                  <div class="ui segment">
                  <div class="field">
                     <div class="label"><span>*Address</span></div>
                     <div class="ui left icon input">
                        <input type="text" name="instituteAddressLine1" placeholder="*Address Line 1">
                        <i class="home icon"></i>
                     </div>
                  </div>
                  <div class="field">
                     <div class="ui left icon input">
                        <input type="text" name="instituteAddressLine2" placeholder="Address Line2 (Optional)">
                        <i class="home icon"></i>
                     </div>
                  </div>
                  <div class="two fields">
                     <div class="field">
                        <div class="label"></span>*City</span></div>
                        <div class="ui left icon input">
                           <input type="text" name="instituteCity" placeholder="city">
                           <i class="home icon"></i>
                        </div>
                     </div>

                     <div class="field">
                        <div class="label"><span>*State</span></div>
                        <div class="ui fluid selection state dropdown">
                           <div class="text">Select</div>
                           <i class="dropdown icon"></i>
                           <input name="instituteState" type="hidden">
                           <div class="menu">
                              @for((key,value)<- state){ 
                              <div class="item" data-value="@key">@value</div>
                              }
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="two fields">
                     <div class="field">
                        <div class="label"><span>*Country</span></div>
                        <div class="ui left icon input">
                           <input type="text" name="instituteCountry" placeholder="Country">
                           <i class="home icon"></i>
                        </div>
                     </div>
                     <div class="field">
                        <div class="label"><span>*Pincode</span></div>
                        <div class="ui left icon input">
                           <input type="text" name="institutePinCode" placeholder="pincode">
                           <i class="home icon"></i>
                        </div>
                     </div>
                  </div>
               </div>

                    <h4 class="ui dividing header">Contact & Mail Info</h4>
                    <div class="ui segment">
                         <div class="two fields">
                     <div class="field">
                        <div class="label"><span>*Mobile No.</span></div>
                        <div class="ui left icon input">
                           <input type="text" name="institutePhoneNumber" placeholder="Institute Mobile Number">
                           <i class="phone square icon"></i>
                        </div>
                     </div>
                     <div class="field">
                        <div class="label"><span>Alternative No. (Optional)</span></div>
                        <div class="ui left icon input">
                           <input
                              type="text"
                              name="instituteOfficeNumber"
                              placeholder="Alternative  Mobile Number">
                           <i class="phone square icon"></i>
                        </div>
                     </div>
                  </div>

                   <div class="field">
                     <div class="label"><span>*School E-Mail</span></div>
                     <div class="ui left icon input">
                        <input type="email" name="instituteEmail" placeholder="Institute Email">
                        <i class="mail icon"></i>
                     </div>
                  </div>
                    </div>


                   
                 
                  
               
                  <div class="ui hidden divider"></div>
                  <div class="two fields">
                     <div class="field">
                        <button class="ui green fluid left floated button" id="New-schoolRequest-submit">Send Request</button>
                     </div>
                     <div class="field">
                        <div class="ui teal reset fluid right floated button">Reset</div>
                     </div>
                  </div>
                  <div class="ui error message"></div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
@if(flash.containsKey("success")) {
<div class="ui segment">
   <div class="ui green success message" id="success-message">
      <div class="header">
         SUCCESSFULLY
      </div>
      <ul class="list">
         <li>
            @flash.get("success")
         </li>
      </ul>
   </div>
</div>
} @if(flash.containsKey("error")) {
<div class="ui segment">
   <div class="ui red error message" id="error-message">
      <div class="header">
         ERROR
      </div>
      <ul class="list">
         <li>
            @flash.get("error")
         </li>
      </ul>
   </div>
</div>
}
}