@(activeRoleList:List[views.forms.institute.RoleForm],
inactiveRoleList:List[views.forms.institute.RoleForm],
addRoleForm:Form[views.forms.institute.RoleForm])

@viewClass.main("HOME | INSTITUTE")(""){
	<div class="main container">
    <div class="ui attached segment">


          <div class="ui grid">
     
            <div class="two column row">
              <div class="left floated column  aligned content">
                <h1 class="ui header"><i class="building icon"></i>   <div class="content">Roles
  <div class="sub header">Different roles can be assigned to employees. </div> 
  </div>   
</h1>
              </div>
              <div class="right floated column middle aligned  right aligned">
                <div class="middle aligned content">
                
               <button class="ui right labeled icon button primary addNewRoleBtn">ADD NEW ROLE<i class="add icon"></i>   </button>
                </div>
              </div>
            </div>
            <br><br>

          <div class="ui modal" id="addRoleModal">
    <i class="close icon"></i>
    <div class="header" align="center">
        Add Roles and Permissions
    </div>

    
        <div class="description">
             <form
            class="ui form segment"
            id="addNewRoleForm"
            method="POST"
            action="/add_role"> 
           
           
            
                 <div class="field">
                     <label>Role</label>
                     <input name="roleName" placeholder="Enter Role" type="text">
            </div>
            <div class="field">
                <label>Role Description</label>
                <input name="roleDescription" placeholder="Enter Role Description" type="text">
            </div>
           
           
            
            <div class="actions">
              
                   
                    <button
                        type="submit"
                        id="addNewRoleSubmitbtn"
                        class="ui green inverted fluid button">
                    <i class="checkmark icon"></i>Click to Add Permissions</button>
                
            </div>
            </form>
        </div>
   
</div>

          </div>

          
            <div class="ui grid">
            <div class="sixteen wide column">


      <div class="ui top attached tabular rolesmenu menu">
        <a class="active item" data-tab="activerole" style="background-color: whitesmoke;">
                <i class="home icon"></i>Active Roles</a>
         <a class="item" data-tab="disablerole" style="background-color: whitesmoke;">
                <i class="home icon"></i>Disabled Roles</a>
      </div></br>
              <div class="ui bottom attached tab active" data-tab="activerole">
                 <table class="ui fixed celled table">
                <thead>
                  <tr>
                    <th class="one wide column"></th>
                    <th class="three wide column">Role</th>
                    <th class="six wide column">Description</th>
                    <th class="six wide column">Permission</th>
                    <th class="four wide column"></th>
                  </tr>
                </thead>
                <tbody>
                  @for((activeRole,index) <- activeRoleList.zipWithIndex){
                  <tr class="role">
                    <td class="right aligned collapsing">@(index + 1).</td>
                    <td class="collapsing">@activeRole.roleName</td>
                    <td><div class="row">@activeRole.roleDescription</div></td>
                    <td><div class="row">@activeRole.permission</div></td>
                     <td class="right aligned collapsing">
                            <div class="middle aligned content">
                               <a href=""><button class="ui classic gray button">Edit
                               </button></a>
                                <a href="@institute.routes.RoleController.disableRole(activeRole.id)"><button class="ui classic red disableRoleBtn button">Disable
                                </button></a>
                             </div>
                          </td>
                      </tr>
                }
                
            </tbody>
            <tfoot>
              <tr>
                <th colspan="7">
                  <div class="ui right floated pagination basic menu tiny">
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="icon item">
                      <i class="right chevron icon"></i>
                    </a>
                  </div>
                </th>
              </tr>
            </tfoot>
            </table>
              </div>

              <div class="ui bottom attached tab " data-tab="disablerole">
                 <table class="ui fixed celled table" id="disableroletable">
                <thead>
                  <tr>
                    <th class="one wide column"></th>
                    <th class="three wide column">Role</th>
                    <th class="six wide column">Description</th>
                    <th class="six wide column">Permission</th>
                    <th class="four wide column"></th>
                  </tr>
                </thead>
                <tbody>
                  @for((inactiveRole,index) <- inactiveRoleList.zipWithIndex){
                  <tr class="role">
                    <td class="right aligned collapsing">@(index + 1).</td>
                    <td class="collapsing">@inactiveRole.roleName</td>
                    <td><div class="row">@inactiveRole.roleDescription</div></td>
                    <td><div class="row">@inactiveRole.permission</div></td>
                     <td >
                            <div class="middle aligned content">
                              
                                <a href="@institute.routes.RoleController.disableRole(inactiveRole.id)"><button class="ui classic red disableRoleBtn button">Enable
                                </button></a>
                             </div>
                          </td>
                      </tr>
                }
                
            </tbody>
            
            </table>  
              </div>
             
            </div>
         
      </div>

      </div>
	</div>

	<div class="ui small test modal">
          <i class="close icon"></i>
          <div class="header">
            Delete Your Account
          </div>
          <div class="content">
            <p>Are you sure you want to delete your account</p>
          </div>
          <div class="actions">
            <div class="ui negative button">
              No
            </div>
            <div class="ui positive right labeled icon button">
              Yes
              <i class="checkmark icon"></i>
            </div>
          </div>
          </div>
}