@(headInstitute:List[models.HeadInstituteLoginDetails.BranchDetails])

  <div class="ui top fixed inverted borderless menu">
  <div class="ui head container">
    <a class="launch item"><i class="icon list layout"></i> Menu</a>
    <div class="item">
      <a href="/"><img class="logo" src="http://www.chabot.tv/workangel/image/artboard2x.png"></a>
    </div>

    <div class="ui simple dropdown link item">
        <i class="location arrow icon"></i>Switch Branch <i class="dropdown icon"></i>
        <div class="menu">
           @for(institute <- headInstitute){
  <a class="item" href="/institute/switch/branch" datavalue=""><i class="location arrow icon"></i></a>
        }
        </div>
      </div>

    <p class="ui item right"><span class="greeting">Welcome, </span>Manish Kumar<span class="logout">| <a href="@login_logout.routes.LoginController.logout()">Log Out</a></span></p>
  </div>
</div>





































