@(headInstitute:List[models.HeadInstituteLoginDetails.BranchDetails])
<div class="ui fixed transparent inverted main menu">
    <div class="container">
      <a class="launch item"><i class="icon list layout"></i> Content</a>
      <div class="title item">
        <b><a href="\">SRP</a></b> Introduction
      </div>
      
      <div class="disabled icon item"><i class="left arrow icon"></i></div>
      
     
      
      <a class="icon item" href="collection.html"><i class="right arrow icon"></i></a>
      
      <div class="ui inverted right menu">

        <div class="ui simple dropdown link item">
        <i class="location arrow icon"></i>Switch Branch <i class="dropdown icon"></i>
        <div class="menu">
           @for(institute <- headInstitute){
  <a class="item" href="/institute/switch/branch" datavalue="@institute.instituteId"><i class="location arrow icon"></i>@institute.instituteName</a>
        }
        </div>
      </div>
        
        
        <a class="popup icon sign out item" data-content="logout" href="@login_logout.routes.LoginController.logout()">
          LOGOUT
        </a>

        
        <!--
        <div class="ui simple dropdown item">
          <i class="icon tint"></i> Theme
          <div class="theme menu">
            <div class="active item" data-theme="flat">Flat</div>
            <div class="item" data-theme="shaded">Shaded</div>
            <div class="item" data-theme="classic">Classic</div>
          </div>
        </div>
        !-->
      </div>
    </div>
  </div>
  
