@(headInstitute:List[models.HeadInstituteLoginDetails.BranchDetails],username:String , logoURL:String)
@viewClass.main("HOME | INSTITUTE")(""){
@viewClass.School.headInstituteProfileTopMenu(headInstitute)
<div class="ui horizontal segment">
   <a href="/institute/add/branch" class="ui green button">ADD BRANCH</a>
   <a href="/add_emp" class="ui green button">ADD EMPLOYEE</a>
   <a href="/role" class="ui green button">ADD ROLES</a>

</div>
<div class="main container">
<div class="ui stackable cards">
  
  @for(institute <- headInstitute){
    
   
    
    <input type="hidden" name="@institute.instituteId"/>
   <a class="ui card">
    
  <div class="content">
     <div class="ui teal medium header">
    
<img class="ui avatar image" src="@logoURL">
@institute.instituteName
  </div>
  <div class="meta"> @institute.instituteName</div>
  </div>
  
  <div class="content">
    <div class="field">@institute.address</div>
  </div>
  <div class="content">
    <span class="right floated">
      <i class="notification outline like icon"></i>
      17 notifications
    </span>
    <i class="comment icon"></i>
    3 messages
  </div>
  <div class="extra content">
    <div class="ui basic fluid green button">Enter</div>
  </div>
</a>


}

</div>
  

</div>
  }
