@(headInstitute:List[models.HeadInstituteLoginDetails.BranchDetails],
username:String)
@viewClass.main4("HOME | INSTITUTE")(""){
<div class="ui horizontal segment">

</div>
<div class="main container">
	<div class="ui stackable cards">
     @for((key,value) <- headInstitute.zipWithIndex ){
  <a class="card">
    <div class="content">
      <img class="right floated mini ui image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
      <div class="header">
          instituteUserName
      </div>
      <div class="meta">
        @instituteUserName
      </div>
      <div class="description">
        This is a school Located in bangalore
      </div>
    </div>
    <div class="extra content">
      
        <a href="/institute/switch/branch" class="ui basic fluid green button">Enter</a>
        
      
    </div>
  </a>
}

   
	</div>

</div>	
}