@(shift:Integer , 
weekDay:List[String],
classes:List[String],
attendenceType:List[String])
<div id="shiftContainer">
                    
                   <div class="ui segment">
                     
                     <div class="two fields">
                        <div class="field">
                           <label>Shift Name</label>
                           <input name="shiftName" type="text" value=" " placeholder="Enter Shift Name">
                        </div>

                        <div class="field">
                           <label>Shift Attendance Type </label>
                           <div class="ui fluid selection dropdown">
                              <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="shiftAttendenceType" type="hidden">
                              <div class="menu">
                                 @for(value<- attendenceType){ 
                                 <div class="item" data-value="@value">@value</div>
                                 }
                              </div>
                           </div>
                        </div>
                     </div>


                     <div class="two fields">
                        <div class="field">
                           <label>Shift Start Time</label>
                           <div class="ui calendar timeSelect">
                              <div class="ui input left icon">
                                 <i class="time icon"></i>
                                 <input name="shiftClassStartTime" type="text" value='' placeholder="School Start Time">
                              </div>
                           </div>
                        </div>
                        <div class="field">
                           <label>Shift End Time</label>
                           <div class="ui calendar timeSelect">
                              <div class="ui input left icon">
                                 <i class="time icon"></i>
                                 <input name="shiftClassEndTime" type="text" value='' placeholder="School End Time">
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="two fields">
                        <div class="field">
                           <label>Class From</label>
                           <div class="ui fluid selection dropdown">
                              <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="shiftStartClassFrom" type="hidden">
                              <div class="menu">
                                 @for(value<- classes){ 
                                 <div class="item" data-value="@value">@value</div>
                                 }
                              </div>
                           </div>
                        </div>
                        <div class="field">
                           <label>Class To</label>
                           <div class="ui fluid selection dropdown">
                              <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="shiftEndClassTo" type="hidden">
                              <div class="menu">
                                 @for(value<- classes){ 
                                 <div class="item" data-value="@value">@value</div>
                                 }
                              </div>
                           </div>
                        </div>
                     </div>


                     <div class="two fields">
                        <div class="field">
                           <label>Shift Week Starts on</label>
                           <div class="ui fluid selection dropdown">
                              <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="shiftWeekStartDay" type="hidden">
                              <div class="menu">
                                 @for(value<- weekDay){ 
                                 <div class="item" data-value="@value">@value</div>
                                 }
                              </div>
                           </div>
                        </div>
                        <div class="field">
                           <label>Shift Week Ends on</label>
                           <div class="ui fluid selection dropdown">
                              <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="shiftWeekEndDay" type="hidden">
                              <div class="menu">
                                 @for(value<- weekDay){ 
                                 <div class="item" data-value="@value">@value</div>
                                 }
                              </div>
                           </div>
                        </div>
                     </div>


                    </div> 
                  
                  </div></br>

