@(firstTimeUpdateForm:Form[views.forms.institute.FirstTimeInstituteUpdateForm],
weekDay:Map[Integer,String],
classes:Map[Integer,String],
attendenceType:Map[String ,String],
instituteBoard: Map[String, String],
instituteType:  Map[String, String])



@viewClass.main6("UPDATE | INFO")("index"){
<style>
.ui.form input[type="text"]{
   border: 1px solid #055020;
   color: #1134F5 ;
   background: #fff;
}
.ui.selection.dropdown{
   border: 1px solid rgba(1, 8, 15, 0.7);
   color: rgba(248, 119, 59, 0.9);
}
</style>
<div class="main container">
   <div class="ui page grid">
      <div class="column">
         <div class="ui green Segment">
            <h3>
               ABC Public School
            </h3>
            <div class="header">
               <div class="profile-image">
                  <img class="ui avatar image" src="//semantic-ui.com/images/avatar/small/jenny.jpg">
               </div>
               <strong>Mellisa,</strong>
               <br/>Please Update Just a little bit more Info
            </div>
            </br>
            <div class="item">
                


               <form class="ui form" id="MandatoryUpdateForm" method="POST" action="/institute/mand_info">
                  
                   <div class="ui form one">
               
                     <h4 class="ui dividing header">Institute Board & Type</h4>
                    <div class="two fields">
                     <div class="field">
                       <label class="ui  teal header">Institute Board</label>
                     <div class="ui fluid selection dropdown">
                        <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="instituteBoard" type="hidden">
                              <div class="menu">
                              @for((key,value)<- instituteBoard){ 
                              <div class="item" data-value="@key">@value</div>
                              }
                           </div>
                        </div>
                    </div>
                    <div class="field">
                     <label class="ui  teal header">Institute Type</label>
                     <div class="ui fluid selection dropdown">
                        <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="instituteType" type="hidden">
                              <div class="menu">
                              @for((key,value)<- instituteType){ 
                              <div class="item" data-value="@key">@value</div>
                              }
                           </div>
                        </div>
                     
                  </div> 

                    </div>
                    
                  

                  <h4 class="ui dividing header">Hostel Info</h4>
                  <div class="ui attached  segment">
                     <div class="inline fields">
                        <label>Is Hostel Facilty Available in Your Institute?</label>
                        <div class="field">
                           <div class="ui radio">
                              <input type="radio" name="hostelFacilitiesIsAvailable" value="true">
                              <label>Yes</label>
                           </div>
                        </div>
                        <div class="field">
                           <div class="ui radio ">
                              <input type="radio" name="hostelFacilitiesIsAvailable" value="false" checked/>
                              <label>No</label>
                           </div>
                        </div>
                     </div>
                     <div class="required inline fields">
                        <label>Is Hostel Compulsory in Your Institute?</label>
                        <div class="field">
                           <div class="ui radio">
                              <input type="radio" name="hostelIsCompulsory" value="true">
                              <label>Yes</label>
                           </div>
                        </div>
                        <div class="field">
                           <div class="ui radio">
                              <input type="radio" name="hostelIsCompulsory" value="false" checked/>
                              <label>No</label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <h4 class="ui dividing header">Institute Week Days</h4>
                  <div class="ui attached  segment">
                     <div class="two fields">
                        <div class="field">
                           <label>Start</label>
                           <div class="ui fluid selection dropdown">
                              <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="instituteOfficeWeekStartIndex" type="hidden">
                              <div class="menu">
                                 @for((key,value)<- weekDay){ 
                                 <div class="item" data-value="@key">@value</div>
                                 }
                              </div>
                           </div>
                        </div>
                        <div class="field">
                           <label>End</label>
                           <div class="ui fluid selection dropdown">
                              <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="instituteOfficeWeekEndIndex" type="hidden">
                              <div class="menu">
                                 @for((key,value)<- weekDay){ 
                                 <div class="item" data-value="@key">@value</div>
                                 }
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <h4 class="ui dividing header">Class Info</h4>
                  <div class="ui attached  segment">
                     <div class="two fields">
                        <div class="field">
                           <label>From</label>
                           <div class="ui fluid selection dropdown">
                              <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="startClassIndex" type="hidden">
                              <div class="menu">
                                 @for((key,value)<- classes){ 
                                 <div class="item" data-value="@key">@value</div>
                                 }
                              </div>
                           </div>
                        </div>
                        <div class="field">
                           <label>To</label>
                           <div class="ui fluid selection dropdown">
                              <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="endClassIndex" type="hidden">
                              <div class="menu">
                                 @for((key,value)<- classes){ 
                                 <div class="item" data-value="@key">@value</div>
                                 }
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <h4 class="ui dividing header">Office Hour Timings</h4>
                  <div class="ui attached  segment">
                     <div class="two fields">
                        <div class="field">
                           <label>Start Time</label>
                           <div class="ui calendar timeSelect">
                              <div class="ui input left icon">
                                 <i class="time icon"></i>
                                 <input name="instituteOfficeStartTime" type="text" value='' placeholder="School Start Time">
                              </div>
                           </div>
                        </div>
                        <div class="field">
                           <label>End Time</label>
                           <div class="ui calendar timeSelect">
                              <div class="ui input left icon">
                                 <i class="time icon"></i>
                                 <input name="instituteOfficeEndTime" type="text" value='' placeholder="School End Time">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <h4 class="ui dividing header">Financial Year</h4>
                  <div class="ui attached segment">
                     <div class="green field">
                        <label>Choose Date Format</label>
                        <div class="ui fluid selection dropdown">
                           <div class="text">Select</div>
                           <i class="dropdown icon"></i>
                           <input name="instituteDateFormat" type="hidden">
                           <div class="menu">
                              <div class="item" data-value="dd/MM/yyyy">DD/MM/YYYY</div>
                              <div class="item" data-value="dd-MM-yyyy">DD/MM/YYYY</div>
                              <div class="item" data-value="MM/dd/yyyy">MM/DD/YYYY</div>
                              <div class="item" data-value="MM-dd-yyyy">MM/DD/YYYY</div>
                           </div>
                        </div>
                     </div>
                     <div class="two fields">
                        <div class="field">
                           <label>Start</label>
                           <div class="ui calendar" id="rangestart">
                              <div class="ui input left icon">
                                 <i class="calendar icon"></i>
                                 <input name="instituteFinancialStartDate" type="text" value='' placeholder="Financial Year Starts">
                              </div>
                           </div>
                        </div>
                        <div class="field">
                           <label>End</label>
                           <div class="ui calendar" id="rangeend">
                              <div class="ui input left icon">
                                 <i class="calendar icon"></i>
                                 <input name="instituteFinancialEndDate" type="text" value='' placeholder="Financial Year Ends">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  </br>

              <div class="ui four column grid">
                                   <div class="left floated column"></div>
                                   <div class="right floated column">
                     <button class="fluid positive ui submit button" id="next">Next</button>
                                   </div>
                      </div>

                   </div>


               <div class="ui form two" style="display:none;">
                          <div class="ui fluid segment">
                  <div class="inline field">
                       <div class="ui checkbox shift">
                          <input type="checkbox" name="shiftAdd" id="shiftAdd">
                           <label for="shiftAdd"></label>
                       </div>
                  <label>Does Your Institute run into shifts ?</label>
                 </div>
                 
                <div class="toggle transition" id="toggleShift" style="display:none;">
                
                   <div class="field">
                     <label class="ui  teal header">Select Shift</label>
                     <div class="ui fluid selection  dropdown shift" id="shiftNumber">
                        <div class="text">Select</div>
                              <i class="dropdown icon"></i>
                              <input name="numberOfShift" type="hidden" id="shiftvalue" onchange="shiftfunction()">
                              <div class="menu">
                                   <div class="item" data-value="2">2 Shift Per Day</div>
                                   <div class="item" data-value="3">3 Shift Per Day</div>
                                   <div class="item" data-value="4">4 Shift Per Day</div>
                              </div>
                        </div>
                     
                  </div>
                </div>
                  </div>
                  <!--   SHIFT SEGMENT STARTS HERE-->
                  <div class="ui shift form" id="shiftContainer">
                    
                   </div></br>


                   <div class="ui four column grid">
                                   <div class="left floated column">
                                 <div class="fluid positive ui submit button back " id="back">Back</div>
                                   </div>
                                   <div class="right floated column">
                     <div class="fluid positive ui submit button" id="submitMandInfobtn" >Submit</div>
                                   </div>
                      </div>
                  </div>
                
               </form>

                

            </div>
         </div>
      </div>
   </div>
   @if(flash.containsKey("success")) {
   <div class="ui segment">
      <div class="ui green success message" id="success-message">
         <div class="header">
            SUCCESSFULLY
         </div>
         <ul class="list">
            <li>
               @flash.get("success")
            </li>
         </ul>
      </div>
   </div>
   } @if(flash.containsKey("error")) {
   <div class="ui segment">
      <div class="ui red error message" id="error-message">
         <div class="header">
            ERROR
         </div>
         <ul class="list">
            <li>
               @flash.get("error")
            </li>
         </ul>
      </div>
   </div>
   }
</div>

<script type="text/javascript">
$(function(){
   var iserror=false;

  $('#shiftNumber').on('selected', function() {
    shiftfunction();

   });
   

   // for validation in step form new approach
  $('#next').on('click',function(e){
    e.preventDefault();
  
  $('.ui.form.one').form( { 
     fields : {
       "instituteBoard": {
        "identifier": "instituteBoard",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet Board"
        }]
      },
      "instituteType": {
        "identifier": "instituteType",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet type"
        }]
      },

                     "instituteOfficeWeekStartIndex": {
        "identifier": "instituteOfficeWeekStartIndex",
        "rules": [{
          "type": "empty",
          "prompt": "Please Select start day of week"
        }]
      },
      "instituteOfficeWeekEndIndex": {
        "identifier": "instituteOfficeWeekEndIndex",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet end day of week"
        }]
      },
      "startClassIndex": {
        "identifier": "startClassIndex",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet start class"
        }]
      },
       "endClassIndex": {
        "identifier": "endClassIndex",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet end class"
        }]
      },
      "instituteOfficeStartTime": {
        "identifier": "instituteOfficeStartTime",
        "rules": [{
          "type": "empty",
          "prompt": "Please Select start time"
        }]
      },
      "instituteOfficeEndTime": {
        "identifier": "instituteOfficeEndTime",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet end  time"
        }]
      },
      "instituteFinancialStartDate": {
        "identifier": "instituteFinancialStartDate",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet start date"
        }]
      },
       "instituteFinancialEndDate": {
        "identifier": "instituteFinancialEndDate",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet end class"
        }]
      }
      
     },
     inline : true,
     onSuccess:function(e){
      e.preventDefault();
      $('.ui.form.two').form().show();
       $(this).form().hide();
      return false;
     }
     
  });

});

    $('#back').on('click',function(e){
       e.preventDefault();
       $('.ui.form.one').form().show();
       $('.ui.form.two').form().hide();
    });

    $('#submitMandInfobtn').on('click',function(e){
      e.preventDefault();
    $('.ui.form.two').form({
        fields : {
           "shiftAdd": {
        "identifier": "shiftAdd",
        "rules": [{
          "type": "checked",
          "prompt": "You must agree to the terms and conditions"
        }]
      },
      "shiftName": {
        "identifier": "shiftName",
        "rules": [{
          "type": "empty",
          "prompt": "Please Enter Shift Name"
        }]
      },
      "shiftAttendenceType": {
        "identifier": "shiftAttendenceType",
        "rules": [{
          "type": "empty",
          "prompt": "Please select attendance type"
        }]
      },
      "shiftClassStartTime": {
        "identifier": "shiftClassStartTime",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet start time"
        }]
      },
       "shiftClassEndTime": {
        "identifier": "shiftClassEndTime",
        "rules": [{
          "type": "empty",
          "prompt": "Please selet end class"
        }]
      },
       "shiftStartClassFrom": {
        "identifier": "shiftStartClassFrom",
        "rules": [{
          "type": "empty",
          "prompt": "Please select class from"
        }]
      },
       "shiftEndClassTo": {
        "identifier": "shiftEndClassTo",
        "rules": [{
          "type": "empty",
          "prompt": "Please select class to"
        }]
      },
      "shiftWeekStartDay": {
        "identifier": "shiftWeekStartDay",
        "rules": [{
          "type": "empty",
          "prompt": "Please select start week"
        }]
      },
      "shiftWeekEndDay": {
        "identifier": "shiftWeekEndDay",
        "rules": [{
          "type": "empty",
          "prompt": "Please select end week"
        }]
      }
       
        },
        inline:true,
        onSuccess:function(e){
             e.preventDefault();
         $('#MandatoryUpdateForm').submit();
          return false;
        }
      });
    }); 
})


function shiftfunction(){

  var container = document.getElementById("shiftContainer");
 var shift=parseInt(document.getElementById("shiftvalue").value);
 while (container.hasChildNodes()) {
             container.removeChild(container.lastChild);
           }
      
      for(var i=0,j=1;i<shift;i++,j++){

            var shiftName = "shifts[" + i + "].shiftName";
            var shiftAttendenceType = "shifts[" + i + "].shiftAttendenceType";
            var shiftClassStartTime = "shifts[" + i + "].shiftClassStartTime";
            var shiftClassEndTime = "shifts[" + i + "].shiftClassEndTime";
            var shiftStartClassIndex = "shifts[" + i + "].shiftStartClassIndex";
            var shiftEndClassIndex = "shifts[" + i + "].shiftEndClassIndex";
            var shiftWeekStartIndex = "shifts[" + i + "].shiftWeekStartIndex";
            var shiftWeekEndIndex = "shifts[" + i + "].shiftWeekEndIndex";
            

             
var htmlshift = '<h4 class="ui top attached  teal inverted header">Shift '+j+'</h4>'+
'<div class="ui attached segment">'+
'                     '+
'                     <div class="two fields">'+
'                        <div class="field">'+
'                           <label>Shift Name</label>'+
'          <input name='+shiftName+' type="text" value=" " placeholder="Enter Shift Name">'+
'                        </div>'+
''+
'                        <div class="field">'+
'                           <label>Shift Attendance Type </label>'+
'                           <div class="ui fluid selection dropdown">'+
'                              <div class="text">Select</div>'+
'                              <i class="dropdown icon"></i>'+
'                              <input name='+shiftAttendenceType+' type="hidden">'+
'                              <div class="menu">'+
'                                 @for((key,value)<- attendenceType){ '+
'                                 <div class="item" data-value="@key">@value</div>'+
'                                 }'+
'                              </div>'+
'                           </div>'+
'                        </div>'+
'                     </div>'+
''+
''+
'                     <div class="two fields">'+
'                        <div class="field">'+
'                           <label>Shift Start Time</label>'+
'                           <div class="ui calendar timeSelect">'+
'                              <div class="ui input left icon">'+
'                                 <i class="time icon"></i>'+
'                                 <input name='+shiftClassStartTime+' type="text" value=\'\' placeholder="School Start Time">'+
'                              </div>'+
'                           </div>'+
'                        </div>'+
'                        <div class="field">'+
'                           <label>Shift End Time</label>'+
'                           <div class="ui calendar timeSelect">'+
'                              <div class="ui input left icon">'+
'                                 <i class="time icon"></i>'+
'                                 <input name='+shiftClassEndTime+' type="text" value=\'\' placeholder="School End Time">'+
'                              </div>'+
'                           </div>'+
'                        </div>'+
'                     </div>'+
''+
'                     <div class="two fields">'+
'                        <div class="field">'+
'                           <label>Class From</label>'+
'                           <div class="ui fluid selection dropdown">'+
'                              <div class="text">Select</div>'+
'                              <i class="dropdown icon"></i>'+
'                              <input name='+shiftStartClassIndex+' type="hidden">'+
'                              <div class="menu">'+
'                                 @for((key,value)<- classes){ '+
'                                 <div class="item" data-value="@key">@value</div>'+
'                                 }'+
'                              </div>'+
'                           </div>'+
'                        </div>'+
'                        <div class="field">'+
'                           <label>Class To</label>'+
'                           <div class="ui fluid selection dropdown">'+
'                              <div class="text">Select</div>'+
'                              <i class="dropdown icon"></i>'+
'                              <input name='+shiftEndClassIndex+' type="hidden">'+
'                              <div class="menu">'+
'                                 @for((key,value)<- classes){ '+
'                                 <div class="item" data-value="@key">@value</div>'+
'                                 }'+
'                              </div>'+
'                           </div>'+
'                        </div>'+
'                     </div>'+
''+
''+
'                     <div class="two fields">'+
'                        <div class="field">'+
'                           <label>Shift Week Starts on</label>'+
'                           <div class="ui fluid selection dropdown">'+
'                              <div class="text">Select</div>'+
'                              <i class="dropdown icon"></i>'+
'                              <input name='+shiftWeekStartIndex+' type="hidden">'+
'                              <div class="menu">'+
'                                 @for((key,value)<- weekDay){ '+
'                                 <div class="item" data-value="@key">@value</div>'+
'                                 }'+
'                              </div>'+
'                           </div>'+
'                        </div>'+
'                        <div class="field">'+
'                           <label>Shift Week Ends on</label>'+
'                           <div class="ui fluid selection dropdown">'+
'                              <div class="text">Select</div>'+
'                              <i class="dropdown icon"></i>'+
'                              <input name='+shiftWeekEndIndex+' type="hidden">'+
'                              <div class="menu">'+
'                                @for((key,value)<- weekDay){ '+
'                                 <div class="item" data-value="@key">@value</div>'+
'                                 }'+
'                              </div>'+
'                           </div>'+
'                        </div>'+
'                     </div>'+
''+
''+
'                    </div>';
   


    






      //var html = $(html);
      $(htmlshift).appendTo(container).each(function(){ $('.ui.dropdown').dropdown();
         $('.timeSelect').calendar({
  type: 'time'
      });
       });
     
      }
   

}



</script>

}