@(classForm : Form[views.forms.school.ClassForm])
@mainDashboard("Add Class"){

<script type="text/javascript">
   		    var i = 0;
            function addRows(){
            var className = "classes[" + i + "].className";
            var classStartTime = "classes[" + i + "].classStartTime";
            var classEndTime = "classes[" + i + "].classEndTime";
            var noOfPeriod = "classes[" + i + "].noOfPeriod";
            var nameOfSection = "classes[" + i + "].nameOfSection";
            
            document.getElementById("myTable").insertRow(-1).innerHTML ='<td><div class="ui icon input"><input size="8" type="text" name='+ className +' id='+ className +' /></div></td>'+
            '<td><div class="ui icon input"><input size="8" type="text" name=' + classStartTime + ' id=' + classStartTime + ' /></td></div>'+
            '<td><div class="ui icon input"><input size="8" type="text" name=' + classEndTime + ' id=' + classEndTime + ' value=""/></td></div>'+
            '<td><div class="ui icon input"><input size="8" type="text" name=' + noOfPeriod + ' id=' + noOfPeriod + '/></td></div>'+
            '<td><div class="ui icon input"><input size="8" type="text" name=' + nameOfSection + ' id=' + nameOfSection + ' placeholder="insert comma seperated section Name"/></td></div>'+
            ' <td><div class="ui buttons"><a class="ui tiny blue edit button" href="./edit_action.html"><i class="edit icon"></i>edit</a><div class="or"></div> <a class="ui tiny green edit button"><i class="trash icon"></i>delete</a></td>';
        
        
       
        }
       </script>
       
      

         <div class="sixteen wide column" id="content">
         <h2><i class="signal icon"></i> Classes</h2>
         <div class="ui divider"></div>
         
               
                
                <div class="column">
                            <div class="ui segments">
                                <div class="ui segment">
                     <a class="ui red small labeled icon add button" onClick="addRows()"><i class="add icon"></i>Add new Class</a>
                </div>
                                 
                                <div class="ui segment"><h5>Enter Class Name with its start time and end time , click on Submit to save your class</h5></div>
                                
                                
                                 <div clas=="ui segment">
                                 <form name="form" action="@school.routes.ClassController.postAddClass()" method="POST">
                                    
                                    <table class="ui small compact table" id="myTable">
                                        <thead>
                                            <tr>
                                                <th>className</th>
                                                <th>class Start Time</th>
                                                <th>class End Time</th>
                                                <th>no Of Period</th>
                                                <th>name Of Section</th>
                                                <th>Edit Or Delete</th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                                            
                                <div class="ui segment"><h3><button class="ui olive button" type="submit">Submit</button></h3></div>

                                </form>
                                
                               
                                </div>
                                </div>
                        </div>
                        </div>
                        
      
                        
                       
                        
                      
                     
                        
				
}