@(classForm : Form[views.forms.institute.ClassForm])
@viewClass.main("ADD | CLASS")(""){
  <div class="main container">
    <div class="ui attached segment">


          <div class="ui grid">
     
            <div class="two column row">
              <div class="left floated column  aligned content">
                <h1 class="ui header"><i class="building icon"></i>   <div class="content">Groups
  <div class="sub header">Different Groups can be assigned to employees. </div> 
  </div>   
</h1>
              </div>
            
            </div>
            <br><br>
            


          </div>

          
            <div class="ui grid">
            <div class="sixteen wide column">
             <form
            class="ui form"
            id="addNewClassForm"
            method="POST"
            action="/class/add"> 
           
            <div class="two fields">
               <div class="required field">
                  <label>Class Name</label>
                  <input type="text" name="className">
               </div>
               <div class="required field">
                  <label>No. Of Section</label>
                  <input type="text" name="numberOfsection">
               </div>
            </div>
            <div class="two fields">
               <div class="required field">
                  <label>Class Start Time</label>
                  <div class="ui calendar timeSelect">
                     <div class="ui input left icon">
                        <i class="time icon"></i>
                         <input name="classStartTime" type="text" value='' placeholder="Class Start Time">
                     </div>
                  </div>
                </div>
                  <div class="required field">
                  <label>Class End Time</label>
                  <div class="ui calendar timeSelect">
                     <div class="ui input left icon">
                        <i class="time icon"></i>
                         <input name="classEndTime" type="text" value='' placeholder="Class End Time">
                     </div>
                  </div>
                </div>
            </div>
            <div class="required field">
               <label>No. Of Period</label>
               <input type="text" name="numberOfPeriod">
            </div>
             <div class="ui hidden divider"></div>
                  <div class="two fields">
                     <div class="field">
                        <button class="ui green fluid left floated button" type="submit" id="addNewClassSubmitbtn">Send Request</button>
                     </div>
                     <div class="field">
                        <div class="ui teal reset fluid right floated button">Reset</div>
                     </div>
                  </div>
           
         </form>                       
            
   
            

           
             
            </div>
         
      </div>

      </div>
  </div>
}
