@(userName: String, role: String)
@mainDashboard("Profile"){

                    <div class="sixteen wide column" id="content">
                    <div class="ui horizontal divider">School Information</div>
                    <div class="ui two column stackable grid">
                        <div class="column">
                            <div class="ui styled fluid accordion">
                                <div class="active title">
                                    <i class="dropdown icon"></i> Students <i class="user icon"></i>
                                </div>
                                <div class="active content">
                                    <div id="barChart" class="chart element"></div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui styled fluid accordion">
                                <div class="active title">
                                    <i class="dropdown icon"></i> Teacher <i class="user icon"></i>
                                </div>
                                <div class="active content">
                                    <div id="lineChart" class="chart element"></div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui styled fluid accordion">
                                <div class="active title">
                                    <i class="dropdown icon"></i> Country Visitor <i class="marker icon"></i>
                                </div>
                                <div class="active content">
                                    <div class="ui relaxed divided list">
                                        <div class="item">
                                            <a class="header">
                                                <i class="large middle aligned id flag"></i> Indonesia
                                                <span class="ui right floated green label">46</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="header">
                                                <i class="large middle aligned us flag"></i> USA
                                                <span class="ui right floated label">23</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="header">
                                                <i class="large middle aligned uk flag"></i> England
                                                <span class="ui right floated label">15</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="header">
                                                <i class="large middle aligned ae flag"></i> United Arab Emirates
                                                <span class="ui right floated blue label">26</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="header">
                                                <i class="large middle aligned sa flag"></i> Saudi Arabia
                                                <span class="ui right floated label">10</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui styled fluid accordion">
                                <div class="active title">
                                    <i class="dropdown icon"></i> Latest Comment <i class="comment icon"></i>
                                </div>
                                <div class="active content">
                                    <div class="ui relaxed divided list">
                                        <div class="item">
                                            <img src="assets/img/people_1.jpg" class="ui avatar image" alt="">
                                            <div class="content">
                                                <a class="header">Alana Steve</a>
                                                <div class="description">cumque tempora repellendus qui  qui perspiciatis facere... <a href="">More</a> </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="assets/img/people_2.jpg" class="ui avatar image" alt="">
                                            <div class="content">
                                                <a class="header">Nathan Steven</a>
                                                <div class="description">eprehenderit quos illum doloribus  inventore doloribus hic ipsum... <a href="">More</a> </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="assets/img/people_3.jpg" class="ui avatar image" alt="">
                                            <div class="content">
                                                <a class="header">First Jr Doe</a>
                                                <div class="description">epellendus ducimus quae voluptas,  voluptas, nam necessitatibus... <a href="">More</a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div align="center">
                        Load in 0.3s Base build with Semantic-UI and jQuery and Author Muhibbudin Suretno
                    </div>
                </div>
       
   }

