@(title:String)(content:Html)
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    
    <link rel="stylesheet" href="@routes.Assets.versioned("semanticUI/css/semantic.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("semanticUI/css/homepage.css")">
    
</head>
<body id="home">
   <div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">
        <div class="ui inverted blue menu">
          <a class="header item" href="\login">SRP</a>
          <div class="right menu">
            <div class="ui mobile dropdown link item">
              Menu
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item">Classes</a>
                <a class="item">Cocktail Hours</a>
                <a class="item">Community</a>
              </div>
            </div>
            
            <a class="item">Library</a>
            <a class="item">Community</a>
            <div class="ui dropdown link item">
              Register
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item">School</a>
                <a class="item">Other Users</a>
              </div>
            </div>
          </div>
        </div>
@content
  

   
        <script type="text/javascript" src="@routes.Assets.versioned("semanticUI/js/jquery.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.versioned("semanticUI/js/semantic.js")"></script>
		<script type="text/javascript" src="@routes.Assets.versioned("semanticUI/js/semantic.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.versioned("semanticUI/js/nicescroll.js")"></script>
		
		<script type="text/javascript" src="@routes.Assets.versioned("semanticUI/js/jquery-1.12.2.js")"></script>
		
		<script type="text/javascript" src="@routes.Assets.versioned("semanticUI/js/homepage.js")"></script>
		<script type="text/javascript" src="@routes.Assets.versioned("semanticUI/js/forms.js")"></script>
		

 
</body>
</html>
