@(schoolRegister:Form[views.forms.school.AddNewSchoolRequest],
schoolCountry:    List[String],
state:            Map[String, String])
@main2("Register"){
<div class="ui container">
        <div class="ui centered stackable grid">
        <div class="three wide column">
           
        </div>
        <div class="ui vertical divider"></div>
        <div class="no"></div>
            <div class="eight wide column">
                <div class="ui segments" align="center">
                    <div class="ui inverted blue padded segment">
                        <span class="ui header">Register<span>
                    </div>
                    <div class="ui segment">
                        <form id="newSchoolRegistrationForm" class="ui form" method="Post" action="@routes.SchoolController.postAddNewSchoolRequest()">
                                <div class="field">
                                 <div class="ui left icon input">
                                    <input type="text" name="schoolName" placeholder="schoolName">
                                    <i class="user icon"></i>
                                 </div>
                             </div>
                             
							 <div class="field">
                                 <div class="ui left icon input">
                                    <input type="text" name="schoolRegistrationId" placeholder="schoolRegistrationId">
                                    <i class="user icon"></i>
                                 </div>
                             </div>
							 
							 <div class="field">
                                 <div class="ui left icon input">
                                    <input type="text" name="schoolAddressLine1" placeholder="schoolAddressLine1">
                                    <i class="home icon"></i>
                                 </div>
                             </div>
                             
                             <div class="field">
                                 <div class="ui left icon input">
                                    <input type="text" name="schoolAddressLine2" placeholder="schoolAddressLine2">
                                    <i class="home icon"></i>
                                 </div>
                             </div>
                             
                             <div class="fields">
                                 <div class="eight wide field">
                                   <div class="ui left icon input">
                                     <input type="text" name="city" placeholder="city">
                                     <i class="home icon"></i>
                                   </div>
                                 </div>
                                 <div class="eight wide field">
                                   <select class="ui dropdown" name="state">
                                        <option value="">Select State</option>
                                        @for((key,value) <- state){
                                        <option value="@key">@value</option>
                                        }                            
                                      </select>
                                </div>
                                
                             </div>
                             
                           
                            
                            
                            
                             <div class="fields">
                                <div class="eight wide field">
                                  <div class="ui left icon input">
                                    <input type="text" name="country" placeholder="Country">
                                    <i class="home icon"></i>
                                 </div>
                               </div>
                               <div class="eight wide field">
                                 <div class="ui left icon input">
                                    <input type="text" name="pincode" placeholder="pincode">
                                    <i class="home icon"></i>
                                 </div>
                               </div>
                              </div> 
                              
                             
                             
                             
                             <div class="field">
                                 <div class="ui left icon input">
                                    <input type="email" name="schoolEmail" placeholder="schoolEmail">
                                    <i class="mail icon"></i>
                                 </div>
                             </div>
							 
							 <div class="field">
                                 <div class="ui left icon input">
                                    <input type="text" name="contactPersonName" placeholder="Your Name (Who is Contacting)">
                                    <i class="user icon"></i>
                                 </div>
                             </div>
                             
							<div class="field">
							    
                                  <div class="ui left icon input">
                                    <input type="text" name="schoolMobileNumber" placeholder="school Mobile Number">
                                    <i class="phone square icon"></i>
                                   </div> 
                                
                            </div>
                            
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" name="schoolAlternativeNumber" placeholder="Alternative  Mobile Number">
                                    <i class="phone square icon"></i>
                                </div>
                            </div> 
                            
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" name="query" placeholder="query" help="Please Enter Your Query">
                                    
                                    <i class="comment icon"></i>
                                </div>
                            </div>
                            
                            <button class="ui blue icon button" type="submit">Send Request <i class="sign in icon"></i></button>
                            
							  <div class="ui green reset button">Reset</div>
							  <div class="ui black clear button">Clear</div>
				               <div class="ui error message"></div> 
  
                        </form>
                        
                        
                    </div>
                    </div>
            </div>
        </div>
    </div>
       
    @if(flash.containsKey("success")) {
     <div class="ui segment">
  <div class="ui green success message" id="success-message">
      <div class="header">
        SUCCESSFULLY
  </div>
  <ul class="list">
    <li> @flash.get("success")</li>
  </ul>
</div>
</div>
  }
  @if(flash.containsKey("error")) {
  <div class="ui segment">
 
   <div class="ui red error message" id="error-message">
      <div class="header">
        ERROR
  </div>
  <ul class="list">
    <li> @flash.get("error")</li>
  </ul>
</div>
</div>
 }

    
  }