@(schoolRegister:Form[views.forms.institute.AddNewInstituteRequest], schoolCountry:
List[String], state: Map[String, String])
@main3("Register")("index"){

<style>
.ui.form input[type="text"],.ui.form input[type="email"]{
   border: 1px solid #055020;
   color: #1134F5 ;
   background: #fff;
}
.ui.selection.dropdown{
   border: 1px solid rgba(1, 8, 15, 0.7);
   color: rgba(248, 119, 59, 0.9);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    red;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    red;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    red !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    red;
}

</style>

<div class="stripe">
<div class="ui container">
   <div class="ui page grid">
      <div class="column">
         <h2 class="ui center aligned icon header">
            <i class="circular emphasized users icon"></i>
            <div class="content">
               Request for Your School Registration
               <div class="sub header"></div>
            </div>
         </h2>
         <div class="ui horizontal divider">
            <i class="circular heart icon"></i>
         </div>
         <div class="item">
            <div class="image">
               <div class="tooltip"  data-tooltip="Some epic tooltip!" data-position="top right">
      Top Center
    </div>
               <!--  New School request  -->
               <label>field marked with * are mandatory</label>
               <div class="ui hidden divider"></div>
               <form
                  class="ui form"
                  id="newSchoolRegistrationForm"
                  method="Post"
                  action="@institute.routes.NewInstituteRequestController.preAddNewInstituteRequest()" >

                 <h4 class="ui dividing header">Institute Info</h4>
                 <div class="ui segment">
                 <div class="two fields">
                   <div class="field">
                        <div class="label"><span>*Type Of Institute</span></div>
                        <div class="ui fluid selection state dropdown">
                           <div class="text">SELECT</div>
                           <i class="dropdown icon"></i>
                           <input name="groupOfInstitute" type="hidden">
                           <div class="menu">
                             <div class="item" data-value="single">SINGLE</div>
                              <div class="item" data-value="group">GROUP OF INSTITUTES</div>
                           </div>
                        </div>
                     </div>



      

                     <div class="field">
                     <div class="label"><span>*No Of Institute</span></div>
                     
                     <div class="ui left icon input">
                        <input
                           type="text"
                           name="noOfInstitute"
                           placeholder="noOfInstitute"
                           >
                        <i class="user icon"></i>
                     </div>
                     
                     </div>
                  </div>




                   <div class="field">
                     <div class="label"><span>*Institute Name</span></div>
                   
                     <div class="ui left icon input">
                        <input
                           type="text"
                           name="instituteName"
                           placeholder="Institute Name"
                           data-content="Please enter Your school"
                           >
                        <i class="secondary blue user icon"></i>
                     </div>
                  </div>




                   <div class="field">
                     <div class="label"><span>Institute Registration Id (Optional)</span></div>
                    
                     <div class="ui left icon input">
                        <input
                           type="text"
                           name="instituteRegistrationId"
                           placeholder="Institute Registration id"
                           >
                        <i class="secondary blue user icon"></i>
                     </div>
                  </div>
                  </div>
                  
                   <h4 class="ui dividing header">Contact Info</h4>
                    <div class="ui segment">
                    <div class="field">
                     <div class="label"><span>*ADDRESS</span></div>
                    
                     <div class="ui left icon input">
                        <input
                           type="text"
                           name="instituteAddressLine1"
                           placeholder="*Address Line 1"
                           >
                        <i class="secondary blue user icon"></i>
                     </div>
                  </div>

                 
                
                  <div class="field">
                     <div class="ui left icon input">
                        <input type="text" name="instituteAddressLine2" placeholder="Address Line2 (Optional)">
                        <i class="secondary blue home icon"></i>
                     </div>
                  </div>
                  <div class="two fields">

                       <div class="field">
                     <div class="label"><span>*CITY</span></div>
                     
                     <div class="ui left icon input">
                        <input type="text" name="instituteCity" placeholder="*city">
                        <i class="secondary blue home icon"></i>
                     </div>
                  
                  </div>

                    

                     <div class="field">
                        <div class="label "><span>*STATE</span></div>
                        <div class="ui fluid selection state dropdown">
                           <div class="text">Select</div>
                           <i class="dropdown icon"></i>
                           <input name="instituteState" type="hidden">
                           <div class="menu">
                              @for((key,value)<- state){ 
                              <div class="item" data-value="@key">@value</div>
                              }
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="two fields">
                     <div class="field">
                        <div class="label"><span>*COUNTRY</span></div>
                        
                        <div class="ui left icon input">
                           <input type="text" name="instituteCountry" placeholder="Country">
                           <i class="secondary blue home icon"></i>
                        </div>
                    
                     </div>

                     <div class="field">
                        <div class="label"><span>*PINCODE</span></div>
                        
                        <div class="ui left icon input">
                           <input type="text" name="institutePinCode" placeholder="pincode">
                           <i class="secondary blue home icon"></i>
                        </div>
                     
                     </div>
                  </div>

                     <div class="two fields">
                     <div class="field">
                        <div class="label"><span>*Mobile No.</span></div>
                        <div class="ui focus input">
                        <div class="ui left icon input">
                           <input type="text" name="institutePhoneNumber" placeholder="Institute Mobile Number">
                           <i class="secondary blue phone square icon"></i>
                        </div>
                     </div>
                     </div>
                     <div class="field">
                        <div class="label "><span>SCHOOL ALTERNATIVE NO. (Optional)</span></div>
                        <div class="ui left icon input">
                           <input
                              type="text"
                              name="instituteOfficeNumber"
                              placeholder="Alternative  Mobile Number">
                           <i class="secondary blue phone square icon"></i>
                        </div>
                     </div>
                  </div>
               </div>

                  <h4 class="ui dividing header">Mail & Other Info</h4>
                  <div class="ui segment">
                  <div class="field">
                     <div class="label"><span>*School E-Mail</span></div>
                     
                     <div class="ui left icon input">
                        <input type="email" name="instituteEmail" placeholder="Institute Email">
                        <i class="secondary blue mail icon"></i>
                     </div>
                  
                  </div>
                  <div class="field">
                     <div class="label"><span>*YOUR NAME</span></div>
                     <div class="ui focus input">
                     <div class="ui left icon input">
                        <input
                           type="text"
                           name="contactPersonName"
                           placeholder="Your Name (Who is Contacting)">
                        <i class="secondary blue user icon"></i>
                     </div>
                  </div>
                  </div>

               
                  <div class="field">
                     <div class="label"><span>QUERY (Optional)</span></div>
                     <div class="ui left icon input">
                        <input
                           type="text"
                           name="query"
                           placeholder="query"
                           help="Please Enter Your Query">
                        <i class="secondary blue comment icon"></i>
                     </div>
                  </div>
               </div>
                  <div class="ui hidden divider"></div>
                  <div class="two fields">
                     <div class="field">
                        <button class="ui green fluid left floated button" id="New-schoolRequest-submit">Send Request</button>
                     </div>
                     <div class="field">
                        <div class="ui blue reset fluid right floated secondary button">Reset</div>
                     </div>
                  </div>
                  <div class="ui error message"></div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
@if(flash.containsKey("success")) {
<div class="ui segment">
   <div class="ui green success message" id="success-message">
      <div class="header">
         SUCCESSFULLY
      </div>
      <ul class="list">
         <li>
            @flash.get("success")
         </li>
      </ul>
   </div>
</div>
} @if(flash.containsKey("error")) {
<div class="ui segment">
   <div class="ui red error message" id="error-message">
      <div class="header">
         ERROR
      </div>
      <ul class="list">
         <li>
            @flash.get("error")
         </li>
      </ul>
   </div>
</div>
}
}