@(schoolForm:       Form[views.forms.institute.InstituteFormData])
@main3("School Information")(""){
<style>
.ui.form input[type="text"],.ui.form input[type="email"]{
   border: 1px solid #055020;
   color: #1134F5 ;
   background: #fff;
}
.ui.selection.dropdown{
   border: 1px solid rgba(1, 8, 15, 0.7);
   color: rgba(248, 119, 59, 0.9);
}
</style>
<div class="stripe">
<div class="main container">
   <div class="ui page grid">
      <div class="column">
         <h2 class="ui center aligned icon header">
            <i class="circular emphasized users icon"></i>
            <div class="content">
               Complete Your School Registration
               <div class="sub header"></div>
            </div>
         </h2>
         <div class="ui horizontal divider">
            <i class="circular heart icon"></i>
         </div>
         <!-- <div class="ui stackable grid" data-demo="true"> -->
         <!-- <div class="ui column"> -->
         <!--  New School request  -->
         <h3>
               Welcome , @schoolForm("instituteName").value
            </h3>
            <div class="header">
               <div class="profile-image">
                  <img class="ui avatar image" src="//semantic-ui.com/images/avatar/small/jenny.jpg">
               </div>
               <h5><strong>Manish,</strong>
               <br/>Please Create Your Password and explore our world.</h5>
            </div>
         <div class="item">
            <div class="image">
               <form
                  class="ui form"
                  id="form1"
                  action="@institute.routes.InstituteRegistrationController.postInstituteRegistrationRequest"
                  method="Post">
                  <!-- Hidden fields on form -->
                  <input
                     type="hidden"
                     name="instituteRegistrationId"
                     value='@schoolForm("instituteRegistrationId").value'
                     readonly>
                  <input
                     type="hidden"
                     name="instituteAddressLine1"
                     value='@schoolForm("instituteAddressLine1").value'
                     readonly>
                  <input
                     type="hidden"
                     name="instituteAddressLine2"
                     value='@schoolForm("instituteAddressLine2").value'
                     readonly>
                  <input type="hidden" name="instituteCity" value='@schoolForm("instituteCity").value' readonly>
                  <input type="hidden" name="instituteState" value='@schoolForm("instituteState").value' readonly>
                  <input
                     type="hidden"
                     name="instituteCountry"
                     value='@schoolForm("instituteCountry").value'
                     readonly>
                  <input
                     type="hidden"
                     name="institutePinCode"
                     value='@schoolForm("institutePinCode").value'
                     readonly>
                  <input
                     type="hidden"
                     name="instituteOfficeNumber"
                     value='@schoolForm("instituteOfficeNumber").value'>
                  <input
                     type="hidden"
                     name="instituteEmail"
                     value='@schoolForm("instituteEmail").value'
                     readonly>

                     

                     <h4 class="ui dividing header">Already Provided Info</h4>
                     <table class="ui two column table">
               
               <tbody>
                  <tr>
                     <td>Institute Name</td>
                     <td>
                     <div class="field">
                           <div class="ui transparent input">
                     <input
                        name="instituteName"
                        type="text"
                        value='@schoolForm("instituteName").value'
                        readonly>
                       
                     </div>
                  </div>
                     </div></td>
                  </tr>
                  <tr>
                     <td>Institute Type</td>
                     <td>
                     <div class="field">
                         <div class="ui transparent  input">
                           <input
                              type="text"
                              name="groupOfInstitute"
                              value='@schoolForm("groupOfInstitute").value'
                              readonly>
                             
                           
                        </div>
                     </div></td>
                  </tr>
                  <tr>
                     <td>Number Of Branches</td>
                     <td>
                     <div class="field">
                        <div class="ui transparent input">
                           <input
                              type="text"
                              name="noOfInstitute"
                              value='@schoolForm("noOfInstitute").value'
                              readonly>
                           
                        </div>
                     </div></td>
                  </tr>
                   <tr>
                     <td>Contact No.</td>
                     <td>
                     <div class="field">
                       <div class="ui transparent input">
                     <input
                        type="text"
                        name="institutePhoneNumber"
                        value='@schoolForm("institutePhoneNumber").value'
                        readonly>
                        
                     </div>
                     </div></td>
                  </tr>
               </tbody>
            </table>


                  <h4 class="ui dividing header">Create Password</h4>
                  <div class="ui segment">
                  <div class="field">
                     <div class="label">Email or UserName</div>
                     <div class="ui input">
                     <input
                        type="text"
                        name="instituteUserName"
                        value='@schoolForm("instituteEmail").value'
                        readonly>
                     </div>
                     
                  </div>
                  <div class="two fields">
                     <div class="field">
                        <div class="label">Password</div>
                        
                        <div class="ui left icon input">
                           <input
                              type="password"
                              name="institutePassword"
                              placeholder="Password"
                              autocomplete="off">
                           <i class="key icon"></i>
                        </div>
                    
                     </div>
                     <div class="field">
                        <div class="label">Confirm Password</div>
                       
                        <div class="ui left icon input">
                           <input
                              type="password"
                              name="instituteConfirmPassword"
                              placeholder="Confirm Password"
                              autocomplete="off">
                           <i class="key icon"></i>
                        </div>
                    
                     </div>
                  </div>
                  </div>

                  <div class="ui hidden divider"></div>
                  <div class="two fields">
                     <div class="field">
                        <button class="ui green fluid left floated button" type="submit">Send Request</button>
                     </div>
                     <div class="field">
                        <div class="ui teal reset fluid right floated button">Reset</div>
                     </div>
                  </div>
                  <div class="ui error message"></div>
               </form>
            </div>
         </div>
         <!--</div> -->
         <!-- </div> -->
      </div>
   </div>
</div>
</div>

@if(flash.containsKey("success")) {
<div class="ui segment">
   <div class="ui green success message" id="success-message">
      <div class="header">
         SUCCESSFULLY
      </div>
      <ul class="list">
         <li> @flash.get("success")</li>
      </ul>
   </div>
</div>
}
@if(flash.containsKey("error")) {
<div class="ui segment">
   <div class="ui red error message" id="error-message">
      <div class="header">
         ERROR
      </div>
      <ul class="list">
         <li> @flash.get("error")</li>
      </ul>
   </div>
</div>
}
}