@(schoolForm:       Form[views.forms.school.SchoolFormData],
  schoolBoard:      List[String],
  schoolCategory:   List[String],
  schoolType:       List[String])
@main2("School Information"){
    <div class="ui container">
      
       <div class="ui centered stackable grid">
          
          
          
            <div class="ten wide column">
                 <div class="ui segments">
                    <div class="ui inverted blue padded segment">
                        <span class="ui header">Register<span>
                    </div>
                    <div class="ui segment">
                       <form class="ui form" id="form1" action="@routes.SchoolController.postSchoolRegistrationRequest" method="Post">
                        
                         @if(schoolForm("schoolRegistrationId").value){
							 <div class="field">
							     <label>School Registration Id</label>
                                 <div class="fields">
                                    <div class="field">
                                       <input type="text" name="schoolRegistrationId" value='@schoolForm("schoolRegistrationId").value' readonly>
                                   </div>
                                 </div>
                             </div>
                             }
                        
                        
    
                        
                        <div class="field">
                           <label>School Name</label>
                           <div class="fields">
                                <div class="field">
                                    <input type="text" name="schoolName" value='@schoolForm("schoolName").value' readonly >
                                </div>
                           </div>
                        </div>
  
                         
                          <div class="field">
                              <label>Address:</label>
                              <div class="fields">
                                 <div class="field">
                                 <input type="text" name="schoolAddressLine1" value='@schoolForm("schoolAddressLine1").value' readonly >
                                 </div>
                                 <div class="field">
                                  <input type="text" name="schoolAddressLine2" value='@schoolForm("schoolAddressLine2").value' readonly >
                                </div>
                              </div>
                          </div>
                          
                           <div class="two fields">
                               <div class="field">
                                 <label>City</label> 
                                 <input type="text" name="city" value='@schoolForm("city").value' readonly>
                               </div>
                               
                               <div class="field">
                                  <label>State</label>
                                  <input type="text" name="state" value='@schoolForm("state").value' readonly>
                               </div>
                             </div>
                             
                             
                              <div class="two fields">
                               <div class="field">
                                 <label>Country</label> 
                                  <input type="text" name="country" value='@schoolForm("country").value' readonly>
                               </div>
                               
                               <div class="field">
                                  <label>Pincode</label>
                                  <input type="text" name="country" value='@schoolForm("pincode").value' readonly>
                               </div>
                             </div>
                             
                              <div class="two fields">
                               <div class="field">
                                 <label>School Mobile No.</label> 
                                  <input type="text" name="schoolMobileNumber" value='@schoolForm("schoolMobileNumber").value' readonly>
                               </div>
                               @if(schoolForm("schoolAlternativeNumber").value){
                               <div class="field">
                                  <label>Alternative Mobile No.</label>
                                  <input type="text" name="schoolAlternativeNumber" value='@schoolForm("schoolAlternativeNumber").value'>
                               </div>
                               }
                             </div>
                           
                            
                          <div class="field">
                                   <label>School Email</label>
                                     <div clas="fields"> 
                                     <div class="field">
                                       <input type="email" name="schoolEmail" value='@schoolForm("schoolEmail").value' readonly >
                                     </div>
                                     
                                   </div>
                             </div>
                             
                              <div class="field">
                                   <label>School Email</label>
                                     <div clas="fields"> 
                                     <div class="field">
                                       <input type="email" name="schoolUserName" value='@schoolForm("schoolUserName").value' readonly >
                                     </div>
                                     
                                   </div>
                             </div>
                             
                             
                             <div class="two fields">
                               <div class="field">
                                 <label>Password</label> 
                                  <div class="ui left icon input">
                                          <input type="password" name="password" placeholder="Password" autocomplete="off">
                                          <i class="key icon"></i>
                                  </div>
                               </div>
                               
                               <div class="field">
                                  <label>Confirm Password</label>
                                 <div class="ui left icon input">
                                             <input type="password" name="confirmPassword" placeholder="Confirm Password" autocomplete="off">
                                             <i class="key icon"></i>
                                            </div>
                                 </div>
                             </div>
                              
                             <div class="field">
                                 <label>No Of Shift</label>
                                 <div class="fields">
                                    <div class="field">
                                       <div class="ui left icon input">
                                         <input type="text" name="noOfShift" value="1" placeholder="No of Shifts">
                                         <i class="home icon"></i>
                                       </div>
                                     </div>  
                                  </div>  
                             </div>
                             
                             <div class="field">
                                 <label>School Board</label>
                                 <div class="ui left icon input">
                                   <select class="ui dropdown" name="schoolBoard">
                                           <option value="">school Board</option>
                                           <option value="1">CBSE</option>
                                           <option value="2">ICSE</option>
                                           <option value="3">UPBOARD</option>
                                    </select>
                                 </div>
                             </div>
                             
                             <div class="field">
                                  <label>School Category</label>
                                    <select class="ui dropdown" name="schoolCategory">
                                           <option value="">schoolCategory</option>
                                           <option value="1">Day Scholar</option>
                                           <option value="2">Residential</option>
                                           <option value="3">Both (Residential & Day Scholar)</option>
                                    </select>
                            </div>
                             
                             <div class="field">
                                 <label>School Type</label>
                                      <select class="ui dropdown" name="schoolType">
                                           <option value="">school Type</option>
                                           <option value="1">GOVERNMENT</option>
                                           <option value="2">PRIVATE</option>
                                    </select>
                             </div>
                                                     
                            <button class="ui blue icon button" type="submit">Send Request <i class="sign in icon"></i></button>
                              <div class="ui green reset button">Reset</div>
							  <div class="ui black clear button">Clear</div>
				               <div class="ui error message"></div> 
                       </form>
                    </div>
                 </div>
            </div>
       </div>
    </div>
    
    @if(flash.containsKey("success")) {
     <div class="ui segment">
  <div class="ui green success message" id="success-message">
      <div class="header">
        SUCCESSFULLY
  </div>
  <ul class="list">
    <li> @flash.get("success")</li>
  </ul>
</div>
</div>
  }
  @if(flash.containsKey("error")) {
  <div class="ui segment">
 
   <div class="ui red error message" id="error-message">
      <div class="header">
        ERROR
  </div>
  <ul class="list">
    <li> @flash.get("error")</li>
  </ul>
</div>
</div>
 }

}