<!--   http://codepen.io/Gowtham13/pen/PqBMYg  -->
@mainDashboard("formvalidation"){
<div class="sixteen wide column" id="content">
    
    <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu left" id="toc">
    <div class="ui container">
      <div class="header item"><img class="logo" src="http://semantic-ui.com/examples/assets/images/logo.png" alt="Logo"/> Semantic UI</div>
        <a class="item" href="index.html">Elements</a>
        <a class="active borderless item">Modules</a>
    </div>
  </div>

  <div class="pusher">
    <!-- Menu -->
    <div class="ui vertical segment mainMenu">
      <div class="ui container">
        <div class="ui stackable menu">
          <div class="header item"><img class="logo" src="http://semantic-ui.com/examples/assets/images/logo.png" alt="Logo"/> Semantic UI</div>
          <a class="item" href="index.html">Elements</a>
          <a class="active borderless item">Modules</a>
        </div>
      </div>
    </div>

    <!-- Fixed Menu -->
    <div class="ui fixed inverted main menu">
      <div class="ui container">
        <a class="launch icon item">
          <i class="content icon"></i>
        </a>
        <div class="item">
          Modules
        </div>
      </div>
    </div>

    <!-- Breadcrumb -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
              <div class="ui breadcrumb">
                <a class="section" href="index.html">Elements</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">Modules</div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Accordion -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Accordion</h3>
            <div class="ui accordion">
              <div class="active title">
                <i class="dropdown icon"></i>
                Accordion-1 Title
              </div>
              <div class="active content">
                <p>Lorem ipsum lorem ipsum dolor site amet dolor site lorem ipsum dolor amet amet site dolor</p>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                Accordion-2 Title
              </div>
              <div class="content">
                <p>Lorem ipsum lorem ipsum dolor site amet dolor site lorem ipsum dolor amet amet site dolor</p>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                Accordion-3 Title
              </div>
              <div class="content">
                <p>Lorem ipsum lorem ipsum dolor site amet dolor site lorem ipsum dolor amet amet site dolor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Checkbox -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Checkbox</h3>
            <div class="ui toggle button">Toggle</div>
            <div class="ui positive check button">Check</div>
            <div class="ui negative uncheck button">Uncheck</div>
            <div class="row">
              <div class="ui six column row center aligned stackable divided grid segment">
                <div class="column">
                  <div class="ui test slider checkbox">
                    <input type="checkbox">
                    <label>1</label>
                  </div>
                </div>
                <div class="column">
                  <div class="ui test toggle checkbox">
                    <input type="checkbox" checked="checked">
                    <label>2</label>
                  </div>
                </div>
                <div class="column">
                  <div class="ui test checkbox">
                    <input type="checkbox">
                    <label>3</label>
                  </div>
                </div>
                <div class="column">
                  <div class="ui test slider checkbox">
                    <input type="checkbox" checked="checked">
                    <label>4</label>
                  </div>
                </div>
                <div class="column">
                  <div class="ui test toggle checkbox">
                    <input type="checkbox">
                    <label>5</label>
                  </div>
                </div>
                <div class="column">
                  <div class="ui test checkbox">
                    <input type="checkbox">
                    <label>6</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Dimmer -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container dimmerContainer">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Dimmer</h3>
            <div class="row">
              <div class="ui three column row grid segment">
                <div class="column">
                  <div class="ui medium image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <h2 class="ui inverted header">Title</h2>
                          <div class="ui primary button">Add</div>
                          <div class="ui button">View</div>
                        </div>
                      </div>
                    </div>
                    <img class="ui image" src="http://semantic-ui.com/examples/assets/images/wireframe/image.png">
                  </div>
                </div>
                <div class="column">
                  <div class="ui circular image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <div class="ui small primary button">Add</div>
                          <div class="ui small button">View</div>
                        </div>
                      </div>
                    </div>
                    <img src="http://semantic-ui.com/examples/assets/images/wireframe/square-image.png">
                  </div>
                </div>
                <div class="column">
                  <div class="ui blurring dimmable image">
                    <div class="ui dimmer transition hidden">
                      <div class="content">
                        <div class="center">
                          <div class="ui inverted button">Add Friend</div>
                        </div>
                      </div>
                    </div>
                    <img src="http://semantic-ui.com/examples/assets/images/wireframe/image.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Dropdown -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container">        
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Dropdown</h3>
          </div>          
        </div>

        <div class="three column row">
          <div class="column default">
            <div class="ui dropdown">
              <div class="text">Dropdown</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">Open</div>
                <div class="item">
                  <span class="description">ctrl + o</span>
                  Open...
                </div>
                <div class="item">
                  <span class="description">ctrl + s</span>
                  Save as...
                </div>
                <div class="item">
                  <span class="description">ctrl + r</span>
                  Rename
                </div>
                <div class="item">
                  <i class="trash icon"></i>
                  Move to trash
                </div>
                <div class="divider"></div>
                <div class="item">Download As...</div>
                <div class="item">E-mail Collaborators</div>
              </div>
            </div>
          </div>

          <!-- Single Selection -->
          <div class="column default">
            <h4 class="ui header">Single Selection</h4>          
            <select name="skills" class="ui fluid search dropdown">
              <option value="">Skills</option>
              <option value="html">HTML</option>
              <option value="css">CSS</option>
              <option value="design">Graphic Design</option>
              <option value="javascript">Javascript</option>
              <option value="angular">Angular</option>
            </select>
          </div>

          <!-- Multiple Selection -->
          <div class="column multipleSelection">
            <h4 class="ui header">Multiple Selection</h4>
            <a href="http://codepen.io/Gowtham13/pen/XbEYJb" target="_blank">Check Out</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Embed -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Embed</h3>
          </div>          
        </div>
        
        <div class="two column row">

          <!-- Embed Youtube video -->
          <div class="column">
            <h4 class="ui header">Embed Youtube Video</h4>
            <div class="ui embed" data-source="youtube" data-url="https://www.youtube.com/embed/pfdu_gTry8E" data-placeholder="http://semantic-ui.com/images/image-16by9.png"></div>
          </div>

          <!-- Embed Viemo video -->
          <div class="column">
            <h4 class="ui header">Embed Vimeo Video</h4>
            <div class="ui embed" data-source="vimeo" data-url="https://player.vimeo.com/video/125292332" data-placeholder="http://semantic-ui.com/images/vimeo-example.jpg"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Modal</h3>
          </div>          
        </div>
        
        <div class="four column row">
          <div class="column">
            <div class="ui primary test button">Launch Modal</div>
            <div class="ui test modal">
              <div class="header">Header</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui approve button">Approve</div>
                <div class="ui button">Neutral</div>
                <div class="ui cancel button">Cancel</div>
              </div>
            </div>
          </div>

          <!-- Basic Modal -->
          <div class="column">
            <h4 class="ui header">Basic Modal</h4>
            <div class="ui teal test2 button">Basic Modal</div>
            <div class="ui test2 basic modal">
              <div class="header">Header</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui red basic cancel inverted button">No</div>
                <div class="ui green ok inverted button">Yes</div>
              </div>
            </div>
          </div>

          <!-- Modal Variation & Size -->
          <div class="column">
            <h4 class="ui header">Modal Variation & Size</h4>
            <div class="ui green test3 button">Fullscreen Modal</div>
            <div class="ui test3 fullscreen modal">
              <div class="header">Header</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui red basic cancel button">No</div>
                <div class="ui green ok button">Yes</div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="ui purple test4 button" style="margin-top: 10px;">Small Modal</div>
            <div class="ui test4 small modal">
              <div class="header">Header</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui red basic cancel button">No</div>
                <div class="ui green ok button">Yes</div>
              </div>
            </div>
            <div class="ui orange test5 button">Large Modal</div>
            <div class="ui test5 large modal">
              <div class="header">Header</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui red basic cancel button">No</div>
                <div class="ui green ok button">Yes</div>
              </div>
            </div>
          </div>
        </div>

        <div class="four column row">
          <!-- Multiple Modal -->
          <div class="column">
            <h4 class="ui header">Multiple Modal</h4>
            <div class="ui teal test7 button">Coupled Modal</div>
            <div class="ui test7 first coupled modal">
              <div class="header">First Modal</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui red cancel button">No</div>
                <div class="ui green ok button">Yes</div>
              </div>
            </div>
            <div class="ui test8 small second coupled modal">
              <div class="header">Second Modal</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui red cancel button">No</div>
                <div class="ui green ok button">Yes</div>
              </div>
            </div>
          </div>
          <!-- Approve & Deny Callbacks -->
          <div class="column">
            <h4 class="ui header">Approve & Deny Callbacks</h4>
            <div class="ui pink test9 button">Sample Modal</div>
            <div class="ui test9 fullscreen modal">
              <div class="header">Header</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui red basic cancel button">No</div>
                <div class="ui green ok button">Yes</div>
              </div>
            </div>
          </div>
          <!-- Dimmer Variation -->
          <div class="column">
            <h4 class="ui header">Dimmer Variation</h4>
            <div class="ui brown test10 button">Inverted Modal</div>
            <div class="ui test10 large modal">
              <div class="header">Header</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui red basic cancel button">No</div>
                <div class="ui green ok button">Yes</div>
              </div>
            </div>
          </div>
          <!-- Transitions of Modal -->
          <div class="column">
            <h4 class="ui header">Transitions of Modal</h4>
            <select name="skills" class="ui animation modalTransition selection dropdown">
              <option value="">Choose Transition</option>
              <option value="horizontal flip">Horizontal Flip</option>
              <option value="vertical flip">Vertical Flip</option>
              <option value="fade up">Fade Up</option>
              <option value="fade">Fade</option>
              <option value="scale">Scale</option>
            </select>
            <div class="ui test11 modal">
              <div class="header">Transitions</div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
              </div>
              <div class="actions">
                <div class="ui red basic cancel button">No</div>
                <div class="ui green ok button">Yes</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <!-- Nag -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Nag</h3>
          </div>          
        </div>
        
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui showNag brown button">Show Nag</div>
            <div class="ui clearNag purple button">Clear Nag Cookie</div>
            <p></p>
            <div class="ui inline cookie nag">
              <span class="title">
                We use cookies to ensure you get the best experience on our website
              </span>
              <i class="close icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Popup</h3>
          </div>          
        </div>
        
        <div class="two column row">
          <!-- Specific Selector Popup -->
          <div class="column">
            <h4 class="ui header">Specific Selector Popup</h4>
            <div class="some-wrapping-div">
              <div class="ui custom button">Show custom popup</div>
            </div>
            <div class="ui custom popup top left transition hidden">
              Lorem ipsum dolor site amet lorem ipsum amet dolor site dolor amet ipsum lorem.
            </div>
          </div>

          <!-- Specific trigger event -->
          <div class="column">
            <h4 class="ui header">Specifying a Trigger Event</h4>
            <div class="ui icon input">
              <input type="text" placeholder="Focus me..." data-content="You can use me to enter data" class="popupInput">
              <i class="search icon"></i>
            </div>
          </div>
        </div>

        <div class="four column row">
          <!-- Target Element -->
          <div class="column">
            <h4 class="ui header">Target Element</h4>
            <div class="ui green test12 button">Hover Me</div>
            <div class="ui divider"></div>
            <img class="medium ui test12 image" src="http://semantic-ui.com/examples/assets/images/wireframe/image.png">
          </div>

          <!-- Inline or Relative to Page -->
          <div class="column">
            <h4 class="ui header">Inline or Relative to Page</h4>
            <i class="heart inline circular icon link" data-content="This is a child element to the page's body and will not be styled"></i>
            <i class="mail inline circular icon link" data-content="This popup was inserted inline and will be styled"></i>
          </div>

          <!-- Popoup Positioning -->
          <div class="column positioningPopup">
            <h4 class="ui header">Popup Positioning</h4>
            <div class="ui segment">
              <i class="square inverted red heart icon link" data-content="Top Left" data-position="top left"></i>
              <i class="square inverted red heart icon link" data-content="Top Center" data-position="top center"></i>
              <i class="square inverted red heart icon link" data-content="Top Right" data-position="top right"></i>
              <i class="square inverted red heart icon link" data-content="Right Center" data-position="right center"></i>
              <i class="square inverted red heart icon link" data-content="Bottom Right" data-position="bottom right"></i>
              <i class="square inverted red heart icon link" data-content="Bottom Center" data-position="bottom center"></i>
              <i class="square inverted red heart icon link" data-content="Bottom Left" data-position="bottom left"></i>
              <i class="square inverted red heart icon link" data-content="Left Center" data-position="left center"></i>
            </div>
          </div>

          <!-- Specifying Offset -->
          <div class="column offsetPopup">
            <h4 class="ui header">Specifying Offset</h4>
            <i class="heart circular icon link" data-offset="50" data-content="As expected this popup is way off to the right"></i>
          </div>

        </div>
      </div>
    </div>

    <!-- Progress -->
    <div class="ui vertical container segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Progress</h3>
          </div>          
        </div>
        
        <div class="two column row">

          <!-- Standard Progress -->
          <div class="column">
            <h4 class="ui header">Standard Progress</h4>
            <div class="ui progress" data-percent="10">
              <div class="bar">
                <div class="progress">10%</div>
              </div>
              <div class="label">Uploading Files</div>
            </div>
            <div class="ignored">
              <div class="ui icon buttons">
                <div class="decrement ui basic red button"><i class="minus icon"></i></div>
                <div class="increment ui basic green button"><i class="plus icon"></i></div>
              </div>
            </div>
          </div>

          <!-- Indicating & Custom Label Progress -->
          <div class="column">
            <h4 class="ui header">Indicating & Custom Label Progress</h4>
            <div class="ui indicating progress" data-value="1" data-total="20" id="uploadProgress">
              <div class="bar">
                <div class="progress"></div>
              </div>
              <div class="label">Adding Files</div>
            </div>
            <div class="ignored">
              <div class="ui icon buttons">
                <div class="decrement ui basic red button"><i class="minus icon"></i></div>
                <div class="increment ui basic green button"><i class="plus icon"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Rating -->
    <div class="ui vertical container segment ratingSegment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Rating</h3>
          </div>          
        </div>
        
        <div class="four column row">

          <!-- Default Rating -->
          <div class="column">
            <h4 class="ui header">Default Rating</h4>
            <div class="ui rating" data-rating="1" data-max-rating="3"></div>
          </div>

          <!-- Star Rating -->
          <div class="column">
            <h4 class="ui header">Star Rating</h4>
            <div class="ui star rating" data-rating="1" data-max-rating="5"></div>
          </div>

          <!-- Heart Rating -->
          <div class="column">
            <h4 class="ui header">Heart Rating</h4>
            <div class="ui heart rating" data-rating="1" data-max-rating="5"></div>
          </div>

          <!-- Size of Rating -->
          <div class="column">
            <h4 class="ui header">Size of Rating</h4>
            <div class="sizeOfRating">
              <span class="ui mini star rating" data-rating="1" data-max-rating="1"></span>
              <span class="ui tiny star rating" data-rating="1" data-max-rating="1"></span>
              <span class="ui small star rating" data-rating="1" data-max-rating="1"></span>
              <span class="ui star rating" data-rating="0" data-max-rating="1"></span>
              <span class="ui large star rating" data-rating="0" data-max-rating="1"></span>
              <span class="ui huge star rating" data-rating="0" data-max-rating="1"></span>
              <span class="ui massive star rating" data-rating="0" data-max-rating="1"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Search -->
    <div class="ui vertical container segment searchSegment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Search</h3>
          </div>          
        </div>
        
        <div class="four column row">

          <!-- Standard Search -->
          <div class="column">
            <h4 class="ui header">Standard Search</h4>
            <div class="ui search">
              <div class="ui icon input">
                <input class="prompt noPrompt" type="text" placeholder="Search Skils..."/>
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
          </div>

          <!-- Category Search -->
          <div class="column categorySearch">
            <h4 class="ui header">Category Search</h4>
            <div class="ui category search">
              <div class="ui icon input">
                <input class="prompt noPrompt" type="text" placeholder="Search Skils..."/>
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
          </div>

          <!-- Local Search -->
          <div class="column localSearch">
            <h4 class="ui header">Local Search</h4>
            <div class="ui search">
              <div class="ui icon input">
                <input class="prompt noPrompt" type="text" placeholder="Search Skils..."/>
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
          </div>

          <!-- Variations of Rating -->
          <div class="column">
            <h4 class="ui header">Variations of Rating</h4>
            <!-- Fluid Category -->
            <div class="ui fluid category search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search Skils...">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
            <p></p>
            <!-- Aligned Category -->
            <div class="ui right aligned category search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search Skils...">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Shape -->
    <div class="ui vertical container segment shapeSegment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Shape</h3>
          </div>          
        </div>
        
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui tab active" data-tab="examples">
              <div class="ui type buttons">
                <div class="active ui button" data-shape="auto">Auto</div>
                <div class="ui button" data-shape="square">Square</div>
                <div class="ui button" data-shape="irregular">Irregular</div>
              </div>
              <div class="ui divider"></div>
              <div class="demo auto ui shape">
                <div class="sides">
                  <div class="active first side">
                    <img src="http://semantic-ui.com/images/leaves/1.png" class="ui medium image">
                  </div>
                  <div class="second side">
                    <img src="http://semantic-ui.com/images/leaves/3.png" class="ui medium image">
                  </div>
                  <div class="third side">
                    <img src="http://semantic-ui.com/images/leaves/5.png" class="ui medium image">
                  </div>
                </div>
              </div>
              <div class="ui ignored divider"></div>
              <div class="ui ignored icon direction buttons">
                <div class="ui button" data-animation="flip" title="Flip Left" data-direction="left"><i class="left long arrow icon"></i></div>
                <div class="ui button" data-animation="flip" title="Flip Up" data-direction="up"><i class="up long arrow icon"></i></div>
                <div class="ui icon button" data-animation="flip" title="Flip Down" data-direction="down"><i class="down long arrow icon"></i></div>
                <div class="ui icon button" data-animation="flip" title="Flip Right" data-direction="right"><i class="right long arrow icon"></i></div>
              </div>
              <div class="ui ignored icon direction buttons">
                <div class="ui button" title="Flip Over" data-animation="flip" data-direction="over"><i class="retweet icon"></i></div>
                <div class="ui button" title="Flip Back" data-animation="flip" data-direction="back"><i class="flipped retweet icon"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="ui vertical container segment sidebarSegment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Sidebar</h3>
          </div>          
        </div>
        
        <div class="one column row">
          <div class="column">
            <div class="ui top attached demo menu">
              <a class="first item">
                Overlay
              </a>
              <a class="second item">
                Push
              </a>
              <a class="third item">
                Scale Down
              </a>
              <a class="fourth item">
                Uncover
              </a>
              <a class="floated right item" href="http://jsfiddle.net/xrb2vtjd/9/" target="_blank">
                Drawback of Scale Down
              </a>
            </div>
            <div class="ui bottom attached segment pushable">
              <div class="ui inverted labeled icon left inline vertical sidebar menu">
                <a class="item">
                  <i class="home icon"></i>
                  Home
                </a>
                <a class="item">
                  <i class="block layout icon"></i>
                  Topics
                </a>
                <a class="item">
                  <i class="smile icon"></i>
                  Friends
                </a>
                <a class="item">
                  <i class="calendar icon"></i>
                  History
                </a>
              </div>
              <div class="pusher">
                <div class="ui basic segment">
                  <h3 class="ui header">Lorem Content</h3>
                  <p>Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.</p>
                  <p>Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.</p>
                  <p>Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.</p>
                  <p>Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.Lorem ipsum lorem ipsum dolor site amet lorem site amet dolor, lorem ipsum lorem ipsum dolor site amet lorem site amet dolor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sticky -->
    <div class="ui vertical container segment stickySegment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Sticky</h3>
          </div>          
        </div>
        
        <div class="one column row">
          <div class="column">
            <div class="ui segment">
              <div class="ui left rail">
                <div class="ui sticky">
                  <h4 class="ui header">Left Sticky Content</h4>
                  <div class="ui segment">
                    Left Rail Content
                  </div>
                </div>
              </div>
              <div class="ui right rail">
                <div class="ui sticky">
                  <h4 class="ui header">Right Sticky Content</h4>
                  <div class="ui segment">
                    Right Rail Content
                  </div>
                </div>
              </div>
              <div class="ui sticky">
                <div class="ui inverted fluid three item tabular menu">
                  <a class="active item">Tab 1</a>
                  <a class="item">Tab 2</a>
                  <a class="item">Tab 3</a>
                </div>
              </div>
              <p></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Tab -->
    <div class="ui vertical container segment tabSegment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Tab</h3>
          </div>          
        </div>
        
        <div class="two column row">

          <!-- Basic Tab -->
          <div class="column">
            <h4 class="ui header">Basic Tab</h4>
            <div id="firstColumn">
              <div class="ui top attached tabular menu">
                <a class="item" data-tab="first">First</a>
                <a class="item" data-tab="second">Second</a>
                <a class="item active" data-tab="third">Third</a>
              </div>            
              <div class="ui bottom attached tab segment" data-tab="first">
                First
              </div>
              <div class="ui bottom attached tab segment" data-tab="second">
                Second
              </div>
              <div class="ui bottom attached tab segment active" data-tab="third">
                Third
              </div>
            </div>
          </div>

          <!-- Multiple Tab -->
          <div class="column">
            <h4 class="ui header">Multiple Tab</h4>
            <div id="secondColumn">
              <div class="ui pointing secondary menu">
                <a class="item active" data-tab="first">First</a>
                <a class="item" data-tab="second">Second</a>
                <a class="item" data-tab="third">Third</a>
              </div>
              <div class="ui tab segment active" data-tab="first">
                <div class="ui top attached tabular menu">
                  <a class="active item" data-tab="first/a">1A</a>
                  <a class="item" data-tab="first/b">1B</a>
                  <a class="item" data-tab="first/c">1C</a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="first/a">1A</div>
                <div class="ui bottom attached tab segment" data-tab="first/b">1B</div>
                <div class="ui bottom attached tab segment" data-tab="first/c">1C</div>
              </div>
              <div class="ui tab segment" data-tab="second">
                <div class="ui top attached tabular menu">
                  <a class="item active" data-tab="second/a">2A</a>
                  <a class="item" data-tab="second/b">2B</a>
                  <a class="item" data-tab="second/c">2C</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="second/a">2A</div>
                <div class="ui bottom attached tab segment" data-tab="second/b">2B</div>
                <div class="ui bottom attached tab segment" data-tab="second/c">2C</div>
              </div>
              <div class="ui tab segment" data-tab="third">
                <div class="ui top attached tabular menu">
                  <a class="item active" data-tab="third/a">3A</a>
                  <a class="item" data-tab="third/b">3B</a>
                  <a class="item" data-tab="third/c">3C</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="third/a">3A</div>
                <div class="ui bottom attached tab segment" data-tab="third/b">3B</div>
                <div class="ui bottom attached tab segment" data-tab="third/c">3C</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Transitions -->
    <div class="ui vertical container segment transitionSegment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen wide column">
            <h3 class="ui header">Transition & its Effects</h3>
            <div class="ui right rail">
              <div class="ui segment">
                  <img src="http://semantic-ui.com/images/leaves/1.png" class="ui autumn leaf medium image visible">
                </div>
            </div>
          </div>          
        </div>
        
        <div class="one column row">
          <div class="column">
            <p><button class="ui scale red button">Scale</button>
            <button class="ui fade orange button">Fade</button>
            <button class="ui fadeUp yellow button">Fade Up</button>
            <button class="ui fadeDown olive button">Fade Down</button>
            <button class="ui fadeLeft green button">Fade Left</button>
            <button class="ui fadeRight teal button">Fade Right</button>
            <button class="ui horizontalFlip blue button">Horizontal Flip</button>
            <button class="ui verticalFlip violet button">Vertical Flip</button>
            <button class="ui drop purple button">Drop</button>
            <button class="ui flyLeft pink button">Fly Left</button></p>
            <p><button class="ui flyRight brown button">Fly Right</button>
            <button class="ui flyUp grey button">Fly Up</button>
            <button class="ui flyDown black button">Fly Down</button>
            <button class="ui browse standard button">Browse</button>
            <button class="ui browseRight inverted red button">Browse Right</button></p>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="one column row">
          <div class="column">
            <p><button class="ui swingLeft red button">Swing Left</button>
            <button class="ui swingRight orange button">Swing Right</button>
            <button class="ui swingUp yellow button">Swing Up</button>
            <button class="ui swingDown olive button">Swing Down</button>
            <button class="ui slideDown green button">Slide Down</button>
            <button class="ui slideUp teal button">Slide Up</button>
            <button class="ui slideLeft blue button">Slide Left</button>
            <button class="ui slideRight violet button">Slide Right</button>
            <button class="ui jiggle purple button">Jiggle</button>
            <button class="ui flash pink button">Flash</button></p>
            <p><button class="ui shake brown button">Shake</button>
            <button class="ui pulse grey button">Pulse</button>
            <button class="ui tada black button">Tada</button>
            <button class="ui bounce standard button">Bounce</button></p>
          </div>          
        </div>
      </div>
    </div>
  </div>  
  
  
  <div class="demo">
    <div class="demo-left">
      <p class="demo-buttons">
        <input type="submit" value="Submit" class="button">
        <button class="button button-blue">Send</button>
        <a href="#" class="button button-green">Create</a>
        <a href="#" class="button button-red">Delete</a>
      </p>

      <p class="demo-buttons">
        <a href="#" class="button button-purple">Reload</a>
        <a href="#" class="button button-orange">Undo</a>
        <a href="#" class="button button-dark-blue">Review</a>
        <a href="#" class="button button-black">Accept</a>
      </p>

      <div class="button-group">
        <a href="#" class="button">Settings</a>
        <a href="#" class="button active">Profile</a>
        <a href="#" class="button">Apps</a>
      </div>

      <div class="button-dropdown open">
        <a href="#" class="button">Dropdown</a>
        <a class="button toggle">More</a>
        <ul class="dropdown">
          <li><a href="#" class="dropdown-link">Cut</a></li>
          <li><a href="#" class="dropdown-link">Copy</a></li>
          <li><a href="#" class="dropdown-link">Paste</a></li>
        </ul>
      </div>

      <div class="pagination">
        <a href="#" class="button button-prev">Previous</a>
        <a href="#" class="pagination-link">1</a>
        <a href="#" class="pagination-link">2</a>
        <a href="#" class="pagination-link">3</a>
        <span class="pagination-current">4</span>
        <a href="#" class="pagination-link">5</a>
        <a href="#" class="pagination-link">6</a>
        <a href="#" class="pagination-link">7</a>
        <a href="#" class="button button-next">Next</a>
      </div>

      <div class="heading">
        <h2>Heading</h2>
        <ul class="heading-links">
          <li><a href="#" class="heading-link">Edit</a></li>
          <li><a href="#" class="heading-link">Delete</a></li>
        </ul>
      </div>

      <ul class="breadcrumbs">
        <li><a href="#" class="breadcrumb">Dashboard</a></li>
        <li><a href="#" class="breadcrumb">Projects</a></li>
        <li><a href="#" class="breadcrumb">App</a></li>
        <li><span class="breadcrumb current">Design</span></li>
      </ul>

      <p class="alert notice">
        <strong>Done!</strong> You successfully completed this project.
        <a href="#" class="alert-close">&times;</a>
      </p>

      <p class="alert">
        <strong>Oops!</strong> Something is technically wrong.
        <a href="#" class="alert-close">&times;</a>
      </p>
    </div>

   
</div>

}