@mainDashboard("AccessRights"){

  <div class="sixteen wide column" id="content"> 
  
  <script type="text/javascript">

function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.display = 'block';
    }
    else document.getElementById('ifYes').style.display = 'none';

}

</script>
 <label> Provide Access Rights </label>
 Yes <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck">
 No  <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck">
 
 <br>
     <div id="ifYes" style="display:none">
        Add STudents: <input type='checkbox' id='yes' name='AddStudents'><br>
        
    </div>
        
        other 3<input type='text' id='other3' name='other3'><br>
        other 4<input type='text' id='other4' name='other4'><br>
        
        <div class="ui celled relaxed list">
  <div class="item">
    <div class="ui master checkbox">
      <input name="Access Rights" type="checkbox">
      <label>Access Rights</label>
    </div>
    <div class="list">
      <div class="item">
        <div class="ui child checkbox">
          <input name="addStudent" type="checkbox">
          <label>addStudent</label>
        </div>
      </div>
      <div class="item">
        <div class="ui child checkbox">
          <input name="addClass" type="checkbox">
          <label>addClass</label>
        </div>
      </div>
      <div class="item">
        <div class="ui child checkbox">
          <input name="addSubject" type="checkbox">
          <label>addSubject</label>
        </div>
      </div>
    </div>
  </div>
 
</div>




<form id="basicSemanticForm" class="ui form">
    <div class="fields">
        <label class="four wide field" for="firstName">Full name</label>
        <div class="six wide field">
            <div class="ui input icon">
                <input name="firstName" type="text" placeholder="First name" />
            </div>
        </div>
        <div class="six wide field">
            <div class="ui input icon">
                <input name="lastName" type="text" placeholder="Last name" />
            </div>
        </div>
    </div>

    <div class="fields">
        <label class="four wide field" for="userame">Username</label>
        <div class="eight wide field">
            <div class="ui input icon">
                <input name="username" type="text" placeholder="Username" />
            </div>
        </div>
    </div>

    <div class="fields">
        <label class="four wide field" for="email" >Email address</label>
        <div class="eight wide field">
            <div class="ui input icon">
                <input name="email" type="text" placeholder="Email address" />
            </div>
        </div>
    </div>

    <div class="fields">
        <label class="four wide field">Password</label>
        <div class="eight wide field">
            <div class="ui input icon">
                <input name="password" type="password" placeholder="Password" />
            </div>
        </div>
    </div>

    <div class="fields">
        <label class="four wide field">Gender</label>
        <div class="ten wide field">
            <div class="ui input icon">
                <div class="ui radio checkbox">
                    <input name="gender" type="radio" value="male" /> <label>Male</label>
                </div>
                <div class="ui radio checkbox">
                    <input name="gender" type="radio" value="female" /> <label>Female</label>
                </div>
                <div class="ui radio checkbox">
                    <input name="gender" type="radio" value="other" /> <label>Other</label>
                </div>
            </div>
        </div>
    </div>

    <div class="fields">
        <label class="four wide field">
            <span class="right" id="captchaOperation"></span>
        </label>
        <div class="four wide field">
            <div class="ui input icon">
                <input type="text" name="captcha" />
            </div>
        </div>
    </div>

    <div class="fields">
        <label class="four wide field"></label>
        <div class="ten wide field">
            <div class="ui input icon">
                <div class="ui checkbox">
                    <input name="agree" type="checkbox" /> <label>Agree with the terms and conditions</label>
                </div>
            </div>
        </div>
    </div>

    <div class="fields">
        <label class="four wide field"></label>
        <div class="eight wide field">
            <button type="submit" class="ui primary button">Submit</button>
        </div>
    </div>
</form>

<script>
$(document).ready(function() {
    // Generate a simple captcha
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }
    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#basicSemanticForm').formValidation({
        framework: 'semantic',
        icon: {
            valid: 'checkmark icon',
            invalid: 'remove icon',
            validating: 'refresh icon'
        },
        fields: {
            firstName: {
                row: '.six',
                validators: {
                    notEmpty: {
                        message: 'The first name is required'
                    }
                }
            },
            lastName: {
                row: '.six',
                validators: {
                    notEmpty: {
                        message: 'The last name is required'
                    }
                }
            },
            username: {
                validators: {
                    notEmpty: {
                        message: 'The username is required'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The username must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: 'The username can only consist of alphabetical, number, dot and underscore'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required'
                    },
                    different: {
                        field: 'username',
                        message: 'The password cannot be the same as username'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: 'The gender is required'
                    }
                }
            },
            captcha: {
                validators: {
                    callback: {
                        message: 'Wrong answer',
                        callback: function(value, validator, $field) {
                            var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                            return value == sum;
                        }
                    }
                }
            },
            agree: {
                validators: {
                    notEmpty: {
                        message: 'You must agree with the terms and conditions'
                    }
                }
            }
        }
    });
});
</script>


  
  
   </div>

}