@main7("Profile | Info")("No ID"){
	
	<div class="ui horizontal segment">
            <div class="container">
                <div class="introduction">

                    <h3 class="ui dividing header">
                        PROFILE
                    </h3>
                    <div class="ui grid ">
					    
						  <div class="four wide column">
                            <img class="ui circular medium image" align="center" src="@routes.Assets.versioned("images/ID.jpg")">
                          </div>
						      <div class="ten wide column">
                            <div class="ui  list">
                                <div class="item">
                                    
                                    <div class="content">
                                        <h4 class="ui blue header">Name</h4>
                                         Indrani Das Gupta
                                    </div>
                                </div>

                                <div class="item">
								    <div class="content">
									  <h4 class="ui blue header">Gender</h4>
                                         FEMALE
									</div>
                                </div>
								
                                <div class="item">

                                    <div class="content">
                                        <h4 class="ui blue header">Age</h4>
                                        20
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="content">
                                        <h4 class="ui blue header">School</h4>
                                        ABC Public School
                                    </div>
                                </div>
                            </div>
                        
						</div>
                        
						
                    
                    </div>

                </div>
                

            </div>
        </div>
		<div class="main container">
		<div class="peek">
		 <div class="ui secondary pointing vertical demo menu" id="profile-settings">
			     <a class="active item" data-tab="generalInfoProfile">
                  General
                </a>
                 <a class="item" data-tab="timings">
                  Timings
                </a>
                <a class="item" data-tab="shift">
                  Shift
                </a>
				
				 <a class="item" data-tab="PasswordChange">
                  Password
                </a>
			  </div>
			  
	    </div>
		<!--<div class="example"> -->

		   <div class="ui active tab segment" data-tab="generalInfoProfile">
            <h2 class="ui dividing header">General</h2>
		   	General Info Goes Here</div>		
		
		
			  
            <div class="ui tab segment" data-tab="timings">
            	<h2 class="ui dividing header">Timings</h2>
            	Timings Info goes Here</div>
         
         
         
               <div class="ui tab segment" data-tab="shift">
                 <h2 class="ui dividing header">Shift</h2>
            	Shift Information Goes here</div> 
         
         
         
            <div class="ui tab segment" data-tab="PasswordChange">
                <h2 class="ui dividing header">Password Change</h2>
            	Passsword Change fields Goes here</div> 
		 <!--</div> -->	  

		</div>
		
		
		
		
		
		
}