@mainDashboard("formvalidation"){
<div class="sixteen wide column" id="content2">
<!-- Test Code -->


<div class="ui grid stackable relaxed page">
    <div class="fourteen wide center aligned centered column">
      <h1 class="ui icon header">
        Semantic UI Example
      </h1>
      <p>Semantic's components allow several distinct types of definitions: elements, collections, views, modules and behaviors which cover the gamut of interface design.</p>
	  
	  <a class="ui large primary button">
         Button
        <i class="right chevron icon"></i>
      </a>
      
    </div>
	
	<div class="three column one column mobile demo row">
	  <div class="column">
	     <div class="">
		     <div class="ui divider"> </div>
			 <h4 class="ui header">
                <a href="">Menu</a>
              </h4>
              <a class="anchor" id="menu"></a>
              <div class="ui vertical demo menu">
			     <a class="active teal item">
                  Inbox
                  <div class="ui teal label">1</div>
                 </a>
				 
				 <a class="item">
                  Trash
                  <div class="ui label">1</div>
                </a>
				
				<div class="item">
				 <div class="ui transparent icon input">
				     <input type="text" placeholder="Search mail...">
					  <i class="search icon"></i>
				 </div>
				</div>
         
         
			  </div>
			  
			  <div class="ui fluid demo tabular menu">
		         <a class="active item">
                  Tab
                </a>
          	     <a class="item">
                  Tab
                </a>
			  </div>
			  <div class="ui secondary vertical demo menu">
			     <a class="active item">
                  Inbox
                </a>
                 <a class="item">
                  Starred
                </a>
                 <a class="item">
                  Trash
                </a>
			  </div>
			  <div class="ui secondary pointing vertical demo menu">
			     <a class="active item">
                  Inbox
                </a>
                 <a class="item">
                  Starred
                </a>
          <a class="item">
                  Trash
                </a>
			  </div>
		 </div>
		 <div class="no">
		     <div class="ui divider"> </div>
			 <h4 class="ui header">
                <a href="">Divider</a>
              </h4>
			  <a class="anchor" id="divider"></a>
			  <div class="ui two column stackable center aligned grid segment">
			     <div class="column">
				     <div class="ui button">A</div>
				 </div>
				 <div class="ui vertical divider">or</div>
				 <div class="column">
				      <div class="teal ui button">B</div>
				 </div>
			  </div>
		 </div>
		 <div class="no">
		     <div class="ui divider"> </div>
			 <h4 class="ui header">
                <a href="">Accordion</a>
             </h4>
             <a class="anchor" id="accordion"></a>
			 <div class="ui vertical fluid accordion menu">
			     <div class="item">
				     <a class="active title">
                          <i class="dropdown icon"></i> Size
                     </a>
					 <div class="active content">
					     <div class="ui form">
						     <div class="grouped fields">
							     <div class="field">
								     <div class="ui radio checkbox">
									     <input type="radio" name="size" value="small">
										  <label>Small</label>
									 </div>
								 </div>
								 <div class="field">
								     <div class="ui radio checkbox">
									      <input type="radio" name="size" value="medium">
										  <label>Medium</label>
									 </div>
								 </div>
								 <div class="field">
								      <div class="ui radio checkbox">
									     <input type="radio" name="size" value="large">
                                         <label>Large</label>
									  </div>
								 </div>
								 
								 
							 </div>
						 </div>
					 </div>
				 </div>
				 
				 <div class="item">
				     <a class="title">
                         <i class="dropdown icon"></i> Colors
                     </a>
					 <div class="content">
					      <div class="ui form">
						      <div class="grouped fields">
							      <div class="field">
								      <div class="ui radio checkbox">
									     <input type="radio" name="color">
                                         <label>Red</label>
									  </div>
								  </div>
								  
								  <div class="field">
								     <div class="ui radio checkbox">
									     <input type="radio" name="color">
                                         <label>Orange</label>
									 </div>
								  </div>
								  
								  
							  </div>
						  </div>
					 </div>
				 </div>
			 </div>
		 </div>
		 
		 <div class="no">
		     <div class="ui divider"> </div>
              <h4 class="ui header">
                <a href="">Message</a>
              </h4>
              <a class="anchor" id="message"></a>
			  <div class="ui message">
			     <i class="close icon"></i> This site uses cookies
			  </div>
			  <div class="ui info message">
			     <div class="header">We're creating your profile page</div>
                 <p>It will be ready in just a second.</p>
			  </div>
		 </div>
	  </div>
	  
	   <div class="tablet only computer only column">
	       <div class="no">
		      <div class="ui divider"> </div>
			  <h4 class="ui header">
			     <a href="">Card</a>
              </h4>
			  <a class="anchor" id="card"></a>
			  <div class="ui card">
			     <div class="image dimmable dimmed">
				     <div class="ui dimmer transition visible active">
					     <div class="content">
						     <div class="center">
							      <div class="ui inverted button">Add Friend</div>
							 </div>
						 </div>
					 </div>
					 <img src="//placehold.it/50">
				</div>
				<div class="content">
				  <div class="header">Steve Jobes</div>
				  <div class="meta">
				     <a class="group">Acquaintances</a>
				  </div>
				  <div class="description">
				     Steve Jobes is a fictional character designed to resemble someone familiar to readers.
				  </div>
				</div>
				 <div class="extra content">
				     <a class="right floated created">
                    Joined in 1998
                  </a>
				  <a class="friends">
                    <i class="user icon"></i> 22 Friends
                  </a>
				 </div>
			  </div>
		   </div>
		   <div class="no">
		     <div class="ui divider"> </div>
			 <h4 class="ui header">
                <a href="">Feed</a>
              </h4>
              <a class="anchor" id="feed"></a>
              <div class="ui feed">
			     <div class="event">
				     <div class="label">
					     <img src="//placehold.it/50">
					 </div>
					 <div class="content">
					     <div class="summary">
						     <a class="user">
                                 Elliot Fu
                             </a> added you as a friend
						 </div>  
					 </div>
				 </div>
				 <div class="event">
				                 <div class="label">
                                   <img src="//placehold.it/50">
                                 </div>
                                 <div class="content">
                                    Zoe just <a>posted on your page</a>
                                 </div>
				 </div>
			  </div>
        </div>
		<div class="no">
		  <div class="ui divider"> </div>
              <h4 class="ui header">
                <a href="">Label</a>
              </h4>
               <a class="anchor" id="label"></a>
              <div class="ui image label">
                 <img src="">
                  <i class="delete icon"></i>
              </div>
                <a class="ui teal label">
                   <i class="mail icon"></i> 23 New
                </a>
                <a class="ui tag label">Dresses</a>
		</div>
		 <div class="no">
		     <div class="ui divider"> </div>
        <h4 class="ui header">
                <a href="">Step</a>
              </h4>
        <a class="anchor" id="step"></a>
        <div class="ui fluid vertical steps">
		   <a class="step">
            <i class="truck icon"></i>
            <div class="content">
              <div class="title">Shipping</div>
              <div class="description">Choose your shipping options</div>
            </div>
          </a>
		  <a class="active step">
            <i class="payment icon"></i>
            <div class="content">
              <div class="title">Billing</div>
              <div class="description">Enter billing information</div>
            </div>
          </a>
          <a class="disabled step">
            <i class="info icon"></i>
            <div class="content">
              <div class="title">Confirm Order</div>
              <div class="description">Verify order details</div>
            </div>
          </a>
        </div>
		 </div>
	   </div>
        <div class="tablet only computer only column">
		  <div class="no">
		     <div class="ui divider"> </div>
        <h4 class="ui header">
                <a href="">Dropdown</a>
              </h4>
        
		  </div>
		</div>
	</div>
  
  
</div>


<!-- this form next step test start from here-->

<div class="ui three top attached steps">
  <a class="moving active step" data-step="1">
    <div class="content">
      <div class="title">Form One</div>
    </div>
  </a>
  <a class="disabled moving step" data-step="2">
    <div class="content">
      <div class="title">Form Two</div>
    </div>
  </a>
</div>

<div class="ui attached segment">
  <div class="ui form" data-stage="1">
    <div class="field">
      <label>First Name</label>
      <input type="text" id="forename" name="forename" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" id="surname" name="surname" placeholder="Last Name">
    </div>
    <div class="ui four column grid">
      <div class="left floated column"></div>
      <div class="right floated column">
        <button class="disabled fluid positive ui button moving" data-step="2">Next</button>
      </div>
    </div>
  </div>
  <div class="ui form" data-stage="2" style="display:none;">
    <div class="field">
      <div class="ui checkbox">
        <input id="terms" name="terms" type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <div class="ui four column grid">
      <div class="left floated column">
        <button class="fluid positive ui button moving" data-step="1">Back</button>
      </div>
      <div class="right floated column">
        <button class="disabled fluid positive ui button" id="submit">Submit</button>
      </div>
    </div>
  </div>
</div>

<!--  OKKK ends here-->




<!-- Starts From Here -->
<div class="ui three column grid container">
    <div class="column">
      <div class="ui fluid card">
        <div class="content"><div class="header">Program Title</div></div>
        <div class="content"></div>
      </div>
      <div class="ui attached message"></div>
      <div class="ui bottom attached warning message">hello</div>
      <div class="ui segment"></div>
    </div>
    
    <div class="column">
      <div class="ui card">
      <div class="content">
        <div class="header">Project Timeline</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Activity</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Helen Troy</a> added two pictures
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui attached yellow message">
  Already signed up? <a href="#">Login here</a> instead.
</div>
      <div class="extra content">
        <button class="ui green button">Join Project</button>
      </div>
    </div>
    </div>
    
    <div class="column">
      <div class="ui huge warning message">This is large</div>
    </div>
  </div>

   
<div class='add_meeting'>
  <header>
    <h1 class='icon-calendar-empty'>Message</h1>
  </header>
  <section>
    <form method="post" action="@routes.CustomController.postRoute()">
      <label>Message Title</label>
      <input type='text' placeholder=''>
      <label>Message</label>
     <textarea id="textarea" rows="8" cols="30" maxlength="99" name="messageToSend"></textarea>
          <div id="textarea_feedback"></div>
          <div id="sendbutton"></div>
          <button  class="ui green button" type="submit" id="msgSendAll" name="msgSendAll" value="hi evryone">Send to All</button>
    </form>
  </section>
  <footer>
   
 
<div class="ui segment">
   
  
   <div class="ui red button" id="msgSendStudent">selected Student</div>
   <div class="ui pink button" id="msgSendTeachers">selected Teachers</div>
</div>
 </footer>
</div>







<!-- Another Form for ste[wise verification-->
   <article>
  <form role="form" action="#" method="post">
    <section>
      <h3><i class="fa fa-user"></i> Contact Info</h3>
      <label for="">Name</label>
      <input name="" required type="text">

      <label for="">Email</label>
      <input name="" required type="email" autocapitalize="off" autocorrect="off">

      <label for="">Phone</label>
      <input name="" type="tel">

      <span tabindex="0" class="next step">Next Step</span>
    </section>

    <section>
      <h3><i class="fa fa-bar-chart-o"></i> Company Info</h3>
      <label for="">Company Name</label>
      <input name="" type="text">

      <label for="">What your Company Does</label>
      <textarea name=""></textarea>

      <span tabindex="0" class="previous step">Previous Step</span>
      <span tabindex="0" class="next step">Next Step</span>
    </section>

    <section>
      <h3><i class="fa fa-suitcase"></i> Project Info</h3>
      <label for="">Do you have a Domain? (ex. www.google.com)</label>
      <select name="">
        <option value="">Select One</option>
        <option value="">Yes</option>
        <option value="">No</option>
      </select>

      <label for="">What is your Domain? (ex. www.google.com)</label>
      <input name="" required type="text" autocapitalize="off" autocorrect="off">

      <label for="">Do you need hosting/email?</label>
      <select name="">
        <option value="">Select One</option>
        <option value="">Yes</option>
        <option value="">No</option>
      </select>

      <label for="">Who will manage the website?</label>
      <input name="" required type="text">

      <label for="">How soon do you need the new website completed?</label>
      <input name="" required type="text">

      <label for="">Approximately how many pages/sections will your website have?</label>
      <input name="" required type="text">

      <label for="">What is your estimated budget</label>
      <select name="">
        <option value="">Select One</option>
        <option value="">$2000</option>
        <option value="">$2000 - $3000</option>
        <option value="">$4000 - $5000</option>
        <option value="">$5000+</option>
      </select>

      <span tabindex="0" class="previous step">Previous Step</span>
      <span tabindex="0" class="next step">Next Step</span>
    </section>

    <section>
      <h3><i class="fa fa-desktop"></i> Your New Website</h3>
      <label for="">What Are your goals for this website?</label>
      <textarea name=""></textarea>

      <label for="">Who is your target audience?</label>
      <textarea name=""></textarea>

      <label for="">Do you have a color scheme? If not, what is your color preference?</label>
      <textarea name=""></textarea>

      <label for="">Please list your competitors' websites. What do you like and not like about their websites?</label>
      <textarea name=""></textarea>

      <label for="">Are there any websites that you like? Why? </label>
      <textarea name=""></textarea>

      <label for="">Possible Features</label>
      <label class="checkbox"><input name="" required type="checkbox">Contact Form</label>
      <label class="checkbox"><input name="" required type="checkbox">Blog</label>
      <label class="checkbox"><input name="" required type="checkbox">Image Gallery</label>
      <label class="checkbox"><input name="" required type="checkbox">Admin Section</label>
      <label class="checkbox"><input name="" required type="checkbox">Search</label>
      <label class="checkbox"><input name="" required type="checkbox">Contact Form</label>
      <label class="checkbox"><input name="" required type="checkbox">Newsletter</label>

      <label for="">Additional comments</label>
      <textarea name=""></textarea>

      <span tabindex="0" class="previous step">Previous Step</span>
      <button type="submit">Send</button>
    </section>
  </form>   

</article>      
<!-- Stepwise verification done-->








<!--here is last div of container -->
</div>
<script type="text/javascript">
  $(function(){
  var formElements = 'label, input, select, textarea, button, .step';
  $('form').addClass('multi-step');
  $(formElements).addClass('hide');
  $('form section').first().find(formElements).removeClass('hide');
  $('h3').on('click', function(){
    $(formElements).addClass('hide');
    $(this).parent('section').find(formElements).removeClass('hide');
  });

  $('.next.step').on('click', function(){
    $(this).parent().find(formElements).addClass('hide').parent().next('section').find(formElements).removeClass('hide');
  });

  $('.previous.step').on('click', function(){
    $(this).parent().find(formElements).addClass('hide').parent().prev('section').find(formElements).removeClass('hide');
  });
});
</script>




<script type="text/javascript">
$(function() {
  var requireForValidation = [{
    element: "input#forename",
    valid: false
  }, {
    element: "input#surname",
    valid: false
  }];
  $(".moving").on("click", function() {
    var step = $(this).data("step");
    $(".form").each(function(k, v) {
      if ($(v).data("stage")) {
        if ($(v).data("stage") === step) {
          $(v).show();
        } else {
          $(v).hide();
        }
      }
    });
    $(".step").each(function(k, v) {
      if ($(v).data("step") === step) {
        $(v).addClass("active");
      } else {
        $(v).removeClass("active");
      }
    });
  });
  $(".form[data-stage=1]").form({
    "inline": true,
    "on": "blur",
    "fields": {
      "forename": {
        "identifier": "forename",
        "rules": [{
          "type": "empty",
          "prompt": "Please enter your first name"
        }]
      },
      "surname": {
        "identifier": "surname",
        "rules": [{
          "type": "empty",
          "prompt": "Please enter your last name"
        }]
      }
    },
    "onInvalid": function() {
      $(".moving[data-step=2]").addClass("disabled");
      var $that = $(this[0]);
      requireForValidation.forEach(function(r) {
        if ($that.is(r.element))
        {
          r.valid = false;
        }
      });
    },
    "onValid": function() {
      var $that = $(this[0]);
      requireForValidation.forEach(function(r) {
        if ($that.is(r.element))
        {
          r.valid = true;
        }
      });
      console.log(requireForValidation);
      
      var formIsValid = requireForValidation.reduce(function(a, b) {
        //console.log(b);
        return a && b.valid;
      }, true);
      //console.log(formIsValid);
      if (formIsValid)
        $(".moving[data-step=2]").removeClass("disabled");
    }
  });
  $(".form[data-stage=2]").form({
    "inline": true,
    "on": "change",
    "fields": {
      "terms": {
        "identifier": "terms",
        "rules": [{
          "type": "checked",
          "prompt": "You must agree to the terms and conditions"
        }]
      }
    }
  });
  $(".ui.checkbox").checkbox({
    "onChecked": function() {
      $("#submit").removeClass("disabled");
    },
    "onUnchecked": function() {
      $("#submit").addClass("disabled");
    }
  });
});


</script>



}