<div class="ui fixed inverted top menu main">


    <div class="ui container">
        <div class="item item_one" id="togglesidemenu">
            <i class="content icon"></i>
      </div>
        <span href="\" class="header  item borderless">
      ABC Public School
      </span>



        <div class="ui category item">
            <div class="ui small icon input">
                <input class="prompt js-searchinput" type="text" placeholder="Search action items...">
                <div class="ui popup bottom left transition hidden" style="white-space:nowrap;">
                    Or <a href="#">advanced search</a>
                </div>
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>


        <div class="right menu inverted borderless ui">

            <span class="item borderless">Currently Active : First Shift</span>

             
            <div class="ui simple dropdown item">
                <i class="location arrow icon"></i><span>Change Shift</span> <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">Second Shift</a>
                    <a class="item" href="#">Third Shift</a>
                    <a class="item" href="#">Fourth Shift</a>

                </div>
            </div>

            <div class="ui simple dropdown link item">
                <i class="green add circle icon"></i><span> Pricing</span> <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">Task1</a>
                    <a class="item" href="#">Task2</a>
                    <a class="item" href="#">Task3</a>
                    <a class="item" href="#">Task4</a>
                </div>
            </div>
             
                <a id="sb_notification_trigger" class="item">
            <i class="icons">
                <i class="alarm icon"></i>
                <i class="red corner circle icon"></i>  
            </i>
        </a>
            
            <div class="ui item">
                <a href="@login_logout.routes.LoginController.logout()">logout</a>
            </div>
        </div>
    </div>
</div>

