@(myMap: Map[String, List[views.forms.school.DisplayClassForm]])

<html>
<body>
  <table id="myTable" border='1'>
<tr>
<td><h4>Class</h4> </td>
<td><h4>Section</h4></td>
<td><h4> Start Time</h4> </td>
<td><h4> End Time </h4></td>
<td><h4> No Of Period </h4></td>
<td></td>
<td></td>
</tr>

@for(((key, value), currentIndex) <- myMap.zipWithIndex) {
     
      <td><fieldset><label><b>@key</b></lable></fieldset></td>
      <td>For</td>
      <td>Adding</td>
      <td>New Section Click</td>
      <td> <button>Add More Sections</button></td>
       
      @for((item,index)<-value.zipWithIndex){
      <tr>
      
      <td> @item.className </td>
      <td> @item.classStartTime </td>
      <td> @item.classEndTime  </td>
      <td> @item.noOfPeriod  </td>
      <td> <button>Edit</button> </td>
      <td> <a href="@school.routes.ClassController.deleteClass(item.className)">delete</a> </td>
      
      <td> <input type="submit" value="delete" action="@school.routes.ClassController.deleteClass(item.className)"/> </td>
    </tr>
      
      
      }

  
    
}


</table>
</html>
</body>
