@(myMap: Map[String, List[views.forms.school.DisplayClassForm]])

@mainDashboard("View Classes"){
<script type="text/javascript">
function addSection(){
$('.small.modal')
  .modal('show')
;
}

</script>

  <div class="sixteen wide column" id="content">
                    <h2><i class="table icon"></i> All Classes Information</h2>
                    <div class="ui divider"></div>

  <div class="ui one column stackable grid ui form">
                  <div class="column">
                            <div class="ui segments">
                                <div class="ui segment"><h3>Class Name</h3></div>
                                <div class="ui segment">
                                
  
 
  
  @for(((key, value), currentIndex) <- myMap.zipWithIndex) {
      
      <div class="ui large olive label">
       CLASS
      <div class="detail">@key</div>
           </div>
            <div class="ui large left pointing blue label">
      <a class="ui large blue edit button" onClick="addSection()" >Add More Sections</a>
    </div>
    
      
    <table class="ui selectable celled table">
      <thead>
    <tr>
      
      <th>Section</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>No of Period</th>
    </tr>
  </thead>
      
      @for((item,index)<-value.zipWithIndex){
      
       <tbody>
      <tr>
      
      <td> @item.className </td>
      <td> @item.classStartTime </td>
      <td> @item.classEndTime  </td>
      <td> @item.noOfPeriod  </td>
      <td><div class="ui buttons"><a class="ui tiny blue edit button" href="./edit_action.html"><i class="edit icon"></i>edit</a><div class="or"></div> <a class="ui tiny green edit button"><i class="trash icon"></i>delete</a></td>
     
      </tr>
       </tbody>
       </table>
       
       <div class="ui small modal">
    
    <div class="header">Add Section to class-@key</div>
    <div class="content">
    <form class="ui form" method="POST" action="@school.routes.ClassController.addSection(key)">
   
    <div class="field">
    <input name="parentClassName" placeholder="Section Name" type="hidden" value="@key" >
  </div> 
  <div class="field">
    <label>Section Name</label>
    <input name="className" placeholder="Section Name" type="text" >
  </div>
  <div class="field">
    <label>Start Time</label>
    <input name="classStartTime" placeholder="class Start Time " type="text" value="@item.classStartTime" >
  </div>
  <div class="field">
    <label>End Time</label>
    <input name="classEndTime" placeholder="class End Time " type="text" value="@item.classEndTime">
  </div>
  <div class="field">
    <label>noOfPeriod</label>
    <input name="noOfPeriod" placeholder="noOfPeriod" type="text" value="@item.noOfPeriod">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
</div>
    </div>
    
      
      }

  
 
}
 

</div>
</div>
</div>
</div>
</div>
}
