@(myMap: Map[String, List[views.forms.institute.ClassForm]])
@viewClass.main("ADD | CLASS")(""){
  <div class="main container">
  <div class="ui grid">
    <div class="two column row">
      <div class="left floated column bottom aligned content">
        <h1 class="ui header">CLASSES</h1>
      </div>
      <div class="right floated column right aligned">
        <div class="middle aligned content">
          <a href="/class/add"><button class="ui labeled icon button primary button"> <i class="plus icon"></i>ADD NEW CLASS
    </button></a>
        </div>
      </div>
    </div>
    <div class="sixteen wide column ">
      <table class="ui celled table selectable">
        <thead>
          <tr>
            <th class="center aligned">Class</th>
            <th class="center aligned">Start Time</th>
            <th class="center aligned">End Time</th>
            <th class="center aligned">Period</th>
            <th class="center aligned">Section</th>
            <th class="center aligned">Action</th>
          </tr>
        </thead>
          <tbody>
                  @for(((key, value), currentIndex) <- myMap.zipWithIndex) {
                  @for((item,index)<-value.zipWithIndex){
                      <tr>
                         <td class="center aligned"><a href="">@item.className</a></td>
                         <td class="center aligned">@item.classStartTime</td>
                         <td class="center aligned">@item.classEndTime</td>
                         <td class="center aligned">@item.numberOfPeriod</td>
                         <td class="center aligned">@item.numberOfsection</td>
                          <td class="center aligned">
           <div class="ui basic icon button">
                  <a href="/class/edit/@item.classId?action=delete"><button class="ui button">
                    <i class="trash icon"></i>
              </button>
              </a>
             
    </div>
    </td>
                      </tr>
                     }
                  }
                 
                </tbody>
<tfoot>
  <tr>
    <th colspan="7">
      <div class="ui right floated pagination menu tiny">
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr>
</tfoot>
</table>
</div>
</div>
</div>


<div class="ui small delete modal" id="delete-confirm">
  <div class="header">
    Delete This Company
  </div>
  <div class="content">
    <p>Are you sure you want to delete this company? </p>
  </div>
  <div class="actions">
    <div class="ui gray button">
      Cancel
    </div>
    <div class="ui blue right button">
      Delete
    </div>
  </div>
</div>
}


