   @main("Home"){
   <div class="row">
			<div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4">
			<div class="container">
			     <a href="@routes.SRPController.preLogin()" class="btn btn-primary btn-lg" role="button">Login</a>
			    <!-- <button type="button" class="btn btn-primary btn-lg" href="routes.SRPController.preLogin()">Login</button> -->
			      <a href="@routes.RegistrationRequest.registerPage()" class="btn btn-primary btn-lg" role="button">Register</a>
			</div>
			</div>	
	</div>
	}