@(loginForm: Form[views.forms.LoginForm]
  )

@import helper._

@main("index") {
	<div class="container">
	  <div class="well">
	    @form(login_logout.routes.LoginController.postLogin(), 'class -> "form-horizontal") {
    		@login(loginForm)
       }
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1>
  	    <ul class="nav navbar-nav navbar-right">
  	       <h4>Click Here For Registering Your School <a href="@routes.SchoolController.preAddNewSchoolRequest">Register</a></h4>
           <h4><b>If Already registered , click here to complete your registration</b> <a href="@routes.Assets.at("otp.html")">Register</a></h4>
           <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" >Register1</button>
           
        </ul>
    </div>


    @if(flash.containsKey("success")) {
		<div class="well">
			<div id="success-message" class="text-success">
		  		@flash.get("success")
			</div>
  		</div>
    }
	@if(flash.containsKey("error")) {
		<div class="well">
			<div id="error-message" class="text-danger">
				@flash.get("error")
			</div>
    	</div>
	}
</div>
</div>
}
