@(schoolForm: Form[views.formdata.SchoolFormData],
  hobbies:     Map[String,Boolean],
  levels:      List[String],
  gpa:         Map[String,Boolean],
  majors:      Map[String,Boolean],
  state:       Map[String,Boolean],
  schoolboard: Map[String,Boolean],
  schooltype:  Map[String,Boolean])

@import helper._

@Main("Index") {
<div class="container">
  <div class="well">

    @form(routes.Application.postIndex(), 'class -> "form-horizontal") {
      @schoolfieldset(schoolForm, hobbies, levels, gpa, majors,state,schoolboard,schooltype)
    }
  </div>

  @if(flash.containsKey("success")) {
  <div class="well">
    <div id="success-message" class="text-success">
      @flash.get("success")
    </div>
  </div>
  }
  @if(flash.containsKey("error")) {
  <div class="well">
    <div id="error-message" class="text-danger">
      @flash.get("error")
  </div>
    </div>
  }
</div>

}

