@(schoolForm: Form[views.forms.SchoolFormData], schoolRegister: Form[views.forms.AddNewSchoolRequest])
@import views.html.bootstrap3._

<abcd>
  <!-- Header -->
  <div id="legend">
    <legend>NEW USER </legend>
  </div>



   
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="newuser" type="submit" value="New Registration" class="btn btn-primary"><a href="">New User</button>
      
      <button id="register" type="submit" value="Already Requested Register" class="btn btn-primary"><a href="">Register</button>
    </div>
  </div>
</abcd>