  @main("Home"){
   <div class="row">
			<div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4">
			
			     <h5>Request for Registering your School</h5>
			     <a href="@routes.RegistrationRequest.preAddNewSchoolRequest()" class="btn btn-primary btn-lg" role="button">Register</a>
			      <hr>
			      <h5>If already Registerd. Enter School Details</h5>
			      <a href="@routes.RegistrationRequest.preRegistrationRequest()" class="btn btn-primary btn-lg" role="button">Enter School Information</a>
			
			</div>	
	</div>
	}