@(schoolRegister: Form[views.formdata.RegisterSchool])

@import helper._

@Main("registerIndex") {
<div class="container">
  <div class="well">

    @form(routes.Application.postschoolIndex(), 'class -> "form-horizontal") {
      @schoolregisterfield(schoolRegister)
    }
  </div>

  @if(flash.containsKey("success")) {
  <div class="well">
    <div id="success-message" class="text-success">
      @flash.get("success")
    </div>
  </div>
  }
  @if(flash.containsKey("error")) {
  <div class="well">
    <div id="error-message" class="text-danger">
      @flash.get("error")
  </div>
    </div>
  }
</div>

}
































