@(schoolForm: Form[views.forms.SchoolFormData],
  schoolBoard:      List[String],
  schoolCategory:    List[String],
  schoolType:        List[String],
  schoolCountry:     List[String],
  state:      		 List[String])

@import helper._

@main("schoolRegistration") {
<div class="container">
  <div class="well">

    @form(routes.SchoolController.postSchoolRegistrationRequest(), 'class -> "form-horizontal") {
    	@schoolFieldSet(schoolForm, schoolBoard, schoolCategory, schoolType, schoolCountry, state)
    }
  </div>

  @if(flash.containsKey("success")) {
  <div class="well">
    <div id="success-message" class="text-success">
      @flash.get("success")
    </div>
  </div>
  }
  @if(flash.containsKey("error")) {
  <div class="well">
    <div id="error-message" class="text-danger">
      @flash.get("error")
  </div>
    </div>
  }
</div>

}
 