@(schoolForm: Form[views.forms.SchoolFormData],
  state:      Map[Long, String])

@import helper._

@main("schoolRegistration") {
<div class="container">
  <div class="well">

    @form(routes.RegistrationRequest.postSchoolRegistrationRequest(), 'class -> "form-horizontal") {
      @schoolFieldSet(schoolForm,state,schoolboard,schooltype, schoolcaterory)
    }
  </div>

  @if(flash.containsKey("success")) {
  <div class="well">
    <div id="success-message" class="text-success">
      @flash.get("success")
    </div>
  </div>
  }
  @if(flash.containsKey("error")) {
  <div class="well">
    <div id="error-message" class="text-danger">
      @flash.get("error")
  </div>
    </div>
  }
</div>

}
 