@(schoolForm: Form[views.forms.SchoolFormData],
  schoolBoard:      List[String],
  schoolCategory:    List[String],
  schoolType:        List[String],
  schoolCountry:         List[String],
  state:      		 List[String])

@import views.html.bootstrap3._

<fieldset>
  <!-- Header -->
  <div id="legend">
    <legend>School Data</legend>
  </div>
  
  @dropdown(schoolForm("schoolBoard"),
         label="School Board",
         buttonNameList=schoolBoard,
         isMultiple=false,
         help="select Board")
         
          @dropdown(schoolForm("schoolCategory"),
         label="School category",
         buttonNameList=schoolCategory,
         isMultiple=false,
         help="select category")
         
         
          @dropdown(schoolForm("schoolType"),
         label="School Type",
         buttonNameList=schoolType,
         isMultiple=false,
         help="select Type")
         
          @dropdown(schoolForm("schoolCountry"),
         label="Country",
         buttonNameList=schoolCountry,
         isMultiple=false,
         help="select country")
         
          @dropdown(schoolForm("state"),
         label="State",
         buttonNameList=state,
         isMultiple=false,
         help="select State")

   <!-- Name -->
  @text(schoolForm("schoolName"),
        label = "School Name",
        placeholder = "School Name",
        help = "Please enter your Registerd Schoo name. (required)")
  <!-- schoolUserName -->
  @text(schoolForm("schoolUserName"),
        label = "schoolUserName",
        placeholder = "School Name",
        help = "Please enter your Registerd Schoo name. (required)")


  <!-- Password For School Login -->
  @password(schoolForm("schoolPassword"),
            label = "School Password",
            placeholder = "",
            help = "Password must be five or more characters. (required)")

   <!-- Principal Name -->
  @text(schoolForm("principleName"),
        label = "Principal Name",
        placeholder = "Principal Name",
        help = "Please enter your first and last name. (required)")

 <!-- Principal Name -->
  @text(schoolForm("principleUserName"),
        label = "principleUserName ",
        placeholder = "Principal Name",
        help = "Please enter your first and last name. (required)")

    <!-- Password For School Login -->
  @password(schoolForm("principlePassword"),
            label = "Principle Password",
            placeholder = "",
            help = "Password must be five or more characters. (required)")

<!-- Password For School Login -->
  @text(schoolForm("principleEmail"),
            label = "principleEmail",
            placeholder = "principleEmail",
            help = "Password must be five or more characters. (required)")

  <!-- School registration Id -->
  @text(schoolForm("schoolRegistration"),
        label="School Registration Id",
        placeholder="School Registration Id",
        help="Please enter your Unique School Id issued by Govt. (required)")
        
        
        
   
        
  <!--Address -->
  @text(schoolForm("addressLine1"),
       label="Address",
       placeholder="Address",
       help="Enter your School Address. (required)")
      
   <!--City -->
   @text(schoolForm("city"),
       label="City",
       placeholder="City",
       help="Please enter city where school is located")
       
  
           
   <!-- Pincode -->
   @text(schoolForm("pincode"),
         label="PinCode",
         placeholder="PinCode",
         help="Enter Pincode of Your City")
         
   <!-- Contact no. -->
   @text(schoolForm("schoolMobileNumber"),
        label="Contact No." ,
        placeholder="Contact No.",
        help="Enter school office number. ")
        
        
        @text(schoolForm("principleMobileNumber"),
        label="principleMobileNumber" ,
        placeholder="principleMobileNumber",
        help="Enter principal mobile number. ")
        

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
      <button id="cancel" class="btn cancel">Cancel</button>
    </div>
  </div>
</fieldset>
