@(schoolForm: Form[views.forms.SchoolFormData],
  state:       Map[String,Boolean],
  schoolboard: Map[String,Boolean],
  schooltype:  Map[String,Boolean])

@import helper._

@main("schoolRegistration") {
<div class="row">
<div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4">


    @form(routes.RegistrationRequest.preRegistrationRequest(), 'class -> "form-horizontal") {
      @schoolFieldSet(schoolForm,state,schoolboard,schooltype)
    }
  

  @if(flash.containsKey("success")) {
  <div class="well">
    <div id="success-message" class="text-success">
      @flash.get("success")
    </div>
  </div>
  }
  @if(flash.containsKey("error")) {
  <div class="well">
    <div id="error-message" class="text-danger">
      @flash.get("error")
  </div>
    </div>
  }
</div>

}
 